Repository Kong/kongponents: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint

stylelint:
  skip:
  - merge
  - rebase
  run: pnpm exec stylelint -- {push_files}

eslint:
  skip:
  - merge
  - rebase
  run: pnpm exec eslint -- {push_files}

Notes added by 'git notes add'
  0b61a6bb9fe431af918c52e422217e44ff7d2d7e
Due: none

fix: add test case
  src/components/KDateTimePicker/KDateTimePicker.cy.ts
Due: eslint

fix: display timezone for relative time ranges (#2983)
  src/components/KDateTimePicker/KDateTimePicker.cy.ts
  src/components/KDateTimePicker/KDateTimePicker.vue
Due: stylelint, eslint

chore(release): 9.46.5 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  c4c38cb906b4faf6ee2834563d35bcf11a222c41
Due: none

fix(kselect): clear button clicks should not toggle dropdown
  src/components/KSelect/KSelect.cy.ts
  src/components/KSelect/KSelect.vue
Due: stylelint, eslint

fix(kselect): clear button clicks should not toggle dropdown (#2985)
  src/components/KSelect/KSelect.cy.ts
  src/components/KSelect/KSelect.vue
Due: stylelint, eslint

chore(release): 9.46.6 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  93b7eb7af0291808e1474d32a0b42465a6da4f0f
Due: none

fix: address pr feedback
  .github/workflows/test.yaml
  src/components/KToaster/ToastManager.cy.ts
  src/components/KToaster/ToastManager.ts
Due: eslint

fix(ktoaster): prevent creating duplicate containers [KHCP-18535] (#2980)
  src/components/KToaster/ToastManager.cy.ts
  src/components/KToaster/ToastManager.ts
Due: eslint

chore(release): 9.46.7 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  a316584390814bd9549e906b9c215b6d90b4c4b2
Due: none

fix(ktableview): update table preferences parameters (#2984)
  src/components/KTableView/KTableView.cy.ts
  src/components/KTableView/KTableView.vue
Due: stylelint, eslint

chore(release): 9.46.8 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  246ccc12fa65246edbe4562a36167073f71fca88
Due: none

fix(ktoaster): avoid overflow when message or title is too long
  src/components/KToaster/KToaster.cy.ts
  src/components/KToaster/KToaster.vue
Due: stylelint, eslint

fix(kselect, kmultiselect): apply flex layout
  src/components/KMultiselect/KMultiselect.vue
  src/components/KSelect/KSelect.vue
Due: stylelint, eslint

feat: adopt PR audit [KHCP-18541]
  .github/workflows/pr-audit.yaml
Due: none

fix(kbutton): type property invalid for anchor
  src/components/KButton/KButton.cy.ts
  src/components/KButton/KButton.vue
Due: stylelint, eslint

fix(kbutton): type property invalid for anchor (#2994)
  src/components/KButton/KButton.cy.ts
  src/components/KButton/KButton.vue
Due: stylelint, eslint

chore(release): 9.46.9 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  b1e2bd960a8b963da80c68408dc9df4beb1a5474
Due: none

ci: prevent canceling releases
  .github/workflows/publish.yaml
  src/index.ts
Due: eslint

fix: trigger release
  src/index.ts
Due: eslint

fix: overrides for high and critical vulnerabilities
  package.json
  pnpm-lock.yaml
Due: none

fix: trigger release (#2996)
  src/index.ts
Due: eslint

chore(release): 9.46.10 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  0090db349be39b42ee53c8b59df43c2177763254
Due: none

fix: run harden runner conditionally based on repo variable
  .github/workflows/commitlint.yaml
  .github/workflows/pr-closed.yaml
  .github/workflows/publish.yaml
  .github/workflows/renovate-auto-approve.yaml
  .github/workflows/test.yaml
Due: none

fix: more places to control harden runner
  .github/workflows/get-changed-files.yaml
Due: none

fix: remove harden runner steps from all workflows
  .github/workflows/commitlint.yaml
  .github/workflows/get-changed-files.yaml
  .github/workflows/pr-closed.yaml
  .github/workflows/publish.yaml
  .github/workflows/renovate-auto-approve.yaml
  .github/workflows/test.yaml
Due: none

fix: triggering release
  src/index.ts
Due: eslint

fix: remove harde runner (#2997)
  .github/workflows/commitlint.yaml
  .github/workflows/get-changed-files.yaml
  .github/workflows/pr-closed.yaml
  .github/workflows/publish.yaml
  .github/workflows/renovate-auto-approve.yaml
  .github/workflows/test.yaml
  src/index.ts
Due: eslint

chore(release): 9.46.11 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  206f8f771615cf4847c87e3ec4c569072cd6b0a0
Due: none

Revert "fix: remove harde runner (#2997)"
  .github/workflows/commitlint.yaml
  .github/workflows/get-changed-files.yaml
  .github/workflows/pr-closed.yaml
  .github/workflows/publish.yaml
  .github/workflows/renovate-auto-approve.yaml
  .github/workflows/test.yaml
  src/index.ts
Due: eslint

fix: add event name to concurrency group
  .github/workflows/publish.yaml
Due: none

Revert "fix: remove harde runner" (#2998)
  .github/workflows/commitlint.yaml
  .github/workflows/get-changed-files.yaml
  .github/workflows/pr-closed.yaml
  .github/workflows/publish.yaml
  .github/workflows/renovate-auto-approve.yaml
  .github/workflows/test.yaml
  src/index.ts
Due: eslint

fix: lint
  src/types/table.ts
  src/types/utils.ts
Due: eslint

Path conditions:
  stylelint: any of: *.{css,scss,sass,vue}
  eslint: any of: *.{js,mjs,cjs,jsx,ts,tsx,mts,cts,vue}
