Repository Kong/kongponents: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint

lefthook.yaml:

# Reference:
# https://lefthook.dev/configuration/

pre-push:
  parallel: true
  commands:
    stylelint:
      skip:
        - merge
        - rebase
      glob: '*.{css,scss,sass,vue}'
      run: pnpm exec stylelint -- {push_files}
    eslint:
      skip:
        - merge
        - rebase
      glob: '*.{js,mjs,cjs,jsx,ts,tsx,mts,cts,vue}'
      run: pnpm exec eslint -- {push_files}

commit-msg:
  parallel: true
  commands:
    commitlint:
      skip:
        - merge
        - rebase
      run: pnpm commitlint --edit "$1"

ci(ksai): upgrade to v3.88.0 via public mirror
  .github/workflows/agentic-reviewer.yaml
  .github/workflows/ksai.yaml
Due: none

test: convert remaining cypress tests to vitest [KHCP-21618] (#3428)
  src/components/KToaster/ToastManager.spec.ts
  src/composables/useUtilities.spec.ts
  src/utilities/codeBlockHelpers.spec.ts
  src/utilities/css.spec.ts
  src/utilities/lineHighlighting.cy.ts
  src/utilities/lineHighlighting.ts
Due: eslint

ci(ksai): upgrade to v3.88.0 via public mirror (#3431)
  .github/workflows/agentic-reviewer.yaml
  .github/workflows/ksai.yaml
Due: none

feat(mcp): add kongponents documentation server [KHCP-21913]
  .github/workflows/get-changed-files.yaml
  .github/workflows/publish.yaml
  .github/workflows/test.yaml
  docs/.vitepress/config.ts
  docs/guide/mcp-server.md
  docs/plans/mcp-server.md
  mcp/build.ts
  mcp/catalog.ts
  mcp/generate-snapshot.ts
  mcp/lib/catalog.ts
  mcp/lib/search.ts
  mcp/server.spec.ts
  mcp/server.ts
  mcp/stdio.ts
  mcp/tools.spec.ts
  mcp/tools.ts
  mcp/tsconfig.json
  mcp/types.ts
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: eslint

feat(mcp): add token-efficient component documentation tools [KHCP-21913]
  docs/guide/mcp-server.md
  docs/plans/mcp-server.md
  mcp/server.spec.ts
  mcp/server.ts
  mcp/tools.spec.ts
  mcp/tools.ts
Due: eslint

feat(mcp): added files [KHCP-21913]
  mcp/lib/markdown.spec.ts
  mcp/lib/markdown.ts
Due: eslint

docs(mcp): add cursor, zed, and web-storm setup guides [KHCP-21913]
  docs/guide/mcp-server.md
Due: none

docs(ktabs): add tab caching sandbox example
  sandbox/pages/SandboxTabs.vue
Due: stylelint, eslint

fix(build): externalize runtime dependencies from the ES/CJS builds
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vite.config.ts
Due: eslint

fix(build): externalize runtime dependencies from the ES/CJS builds (#3427)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vite.config.ts
Due: eslint

chore(release): 9.64.18 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  7b94e69eb3121d250f1ee6552857f01857a0f333
Due: none

refactor(build): break the externals comment and drop a swrv deep import
  src/composables/useUtilities.ts
  vite.config.ts
Due: eslint

chore(deps): update js-yaml and devalue [security]
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(deps): update js-yaml and devalue [security] (#3438)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

refactor(build): break the externals comment and drop a swrv deep import (#3433)
  src/composables/useUtilities.ts
  vite.config.ts
Due: eslint

ci(ksai): name the gateway origin, bump v3.102.3
  .github/workflows/ksai.yaml
Due: none

ci(ksai): name the gateway origin, bump v3.102.3 (#3439)
  .github/workflows/ksai.yaml
Due: none

test(mcp): add packaged executable coverage [KHCP-21913]
  .github/workflows/get-changed-files.yaml
  mcp/package.spec.ts
  mcp/test-global-setup.ts
  vitest.config.ts
Due: eslint

fix(mcp): address review feedback [KHCP-21913]
  docs/guide/mcp-server.md
  docs/plans/mcp-server.md
  mcp/catalog.spec.ts
  mcp/catalog.ts
  mcp/generate-snapshot.ts
  mcp/lib/markdown.spec.ts
  mcp/lib/markdown.ts
  mcp/server.ts
  mcp/tools.spec.ts
  mcp/tools.ts
  mcp/types.ts
Due: eslint

fix(deps): bundle date-fns to allow multiple majors in host app
  vite.config.ts
Due: eslint

chore: trigger preview if build files change
  .github/workflows/get-changed-files.yaml
  .github/workflows/test.yaml
Due: none

fix: comment
  vite.config.ts
Due: eslint

fix: add date-fns-tz to bundled deps
  vite.config.ts
Due: eslint

fix(deps): bundle date-fns to allow multiple majors in host app (#3440)
  .github/workflows/get-changed-files.yaml
  .github/workflows/test.yaml
  vite.config.ts
Due: eslint

chore(release): 9.64.19 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  5d91b238632678468ccaf4a109ed6af8f71b812c
Due: none

fix(*): focus visible in select dropdown items and tables [KHCP-21904]
  src/components/KMultiselect/KMultiselectItem.vue
  src/components/KSelect/KSelectItem.vue
  src/components/KTableView/KTableView.vue
  src/styles/mixins/_tables.scss
Due: stylelint, eslint

fix: minor fix
  src/components/KMultiselect/KMultiselectItem.vue
  src/components/KSelect/KSelectItem.vue
Due: stylelint, eslint

fix(*): focus visible in select dropdown items and tables [KHCP-21904] (#3442)
  src/components/KMultiselect/KMultiselectItem.vue
  src/components/KSelect/KSelectItem.vue
  src/components/KTableView/KTableView.vue
  src/styles/mixins/_tables.scss
Due: stylelint, eslint

chore(release): 9.64.20 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  91a84e5d41fff43769c8b17f066388faa12ad507
Due: none

chore(sandbox): fix theme picker
  package.json
  pnpm-lock.yaml
  sandbox/App.vue
  sandbox/index.ts
  sandbox/pages/HomePage.vue
Due: stylelint, eslint

chore(sandbox): minor fix
  sandbox/pages/HomePage.vue
Due: stylelint, eslint
