Repository Kong/kongponents: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint

lefthook.yaml:

# Reference:
# https://lefthook.dev/configuration/

pre-push:
  parallel: true
  commands:
    stylelint:
      skip:
        - merge
        - rebase
      glob: '*.{css,scss,sass,vue}'
      run: pnpm exec stylelint -- {push_files}
    eslint:
      skip:
        - merge
        - rebase
      glob: '*.{js,mjs,cjs,jsx,ts,tsx,mts,cts,vue}'
      run: pnpm exec eslint -- {push_files}

commit-msg:
  parallel: true
  commands:
    commitlint:
      skip:
        - merge
        - rebase
      run: pnpm commitlint --edit "$1"

chore(release): 9.49.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  d831e2693d9fac47794ad7243670f575d54e3579
Due: none

fix(multiselect): tweak input name attribute value [KHCP-19041] (#3056)
  src/components/KCodeBlock/KCodeBlock.cy.ts
  src/components/KMultiselect/KMultiselect.vue
  src/components/KPrompt/KPrompt.cy.ts
Due: stylelint, eslint

chore(release): 9.49.4 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  c1bceb22a96584064310145a3bb5a8c0d44645e5
Due: none

fix(ktoaster): prevent creating duplicate containers [KHCP-18535] (#3017)
  docs/components/radio.md
  docs/components/toaster.md
  src/components/KToaster/ToastManager.cy.ts
  src/components/KToaster/ToastManager.ts
Due: eslint

chore(release): 9.49.5 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  2791711f7c550aeef39749a3e22aca7d2bd658b6
Due: none

feat(kselect, kmultiselect): group comparator prop [KHCP-19008]
  sandbox/pages/SandboxMultiselect.vue
  sandbox/pages/SandboxSelect.vue
  src/components/KMultiselect/KMultiselect.vue
  src/components/KMultiselect/KMultiselectItems.vue
  src/components/KSelect/KSelect.vue
  src/components/KSelect/KSelectItems.vue
  src/types/multi-select.ts
  src/types/select.ts
Due: stylelint, eslint

test(kselect, kmultiselect): new prop tests [KHCP-19008]
  src/components/KMultiselect/KMultiselect.cy.ts
  src/components/KSelect/KSelect.cy.ts
Due: eslint

docs(select, multiselect): new prop docs [KHCP-19008]
  docs/components/multiselect.md
  docs/components/select.md
Due: none

fix(kselect): refactor to use updated select entry [KHCP-19008]
  sandbox/pages/SandboxSelect.vue
  src/components/KSelect/KSelect.cy.ts
  src/components/KSelect/KSelect.vue
  src/components/KSelect/KSelectItems.vue
  src/types/select.ts
Due: stylelint, eslint

test(kselect): update component tests [KHCP-19008]
  src/components/KSelect/KSelect.cy.ts
  src/components/KSelect/KSelect.vue
  src/components/KSelect/KSelectItems.vue
Due: stylelint, eslint

docs(select): update component docs [KHCP-19008]
  docs/components/select.md
Due: none

fix(kmultiselect): refactor to use multiselect entry [KHCP-19008]
  sandbox/pages/SandboxMultiselect.vue
  src/components/KMultiselect/KMultiselect.vue
  src/components/KMultiselect/KMultiselectItems.vue
  src/types/multi-select.ts
Due: stylelint, eslint

test(kmultiselect): update component tests [KHCP-19008]
  src/components/KMultiselect/KMultiselect.cy.ts
Due: eslint

docs(multiselect): update component docs [KHCP-19008]
  docs/components/multiselect.md
Due: none

fix(radio): disabled checked radio card style not match figma
  docs/components/radio.md
  src/components/KRadio/KRadio.vue
Due: stylelint, eslint

chore(radio): address comments
  docs/components/radio.md
Due: none

fix: apply pr feedback
  src/components/KMultiselect/KMultiselectItems.vue
  src/components/KSelect/KSelect.vue
  src/components/KSelect/KSelectItems.vue
Due: stylelint, eslint

fix: address pr feedback
  docs/components/select.md
  src/components/KMultiselect/KMultiselect.vue
Due: stylelint, eslint

fix: ts
  src/components/KSelect/KSelect.vue
Due: stylelint, eslint

chore(release): 9.49.6 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  12e460577355dbcbe29dafad332bf60c29278d97
Due: none

fix(deps): pnpm audit dependencies
  package.json
  pnpm-lock.yaml
Due: none

fix: deps
  package.json
  pnpm-lock.yaml
Due: none

fix(deps): pnpm audit dependencies (#3061)
  package.json
  pnpm-lock.yaml
Due: none

chore(release): 9.49.7 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  0184c85108cf09306a8a605ccaa7cc9f63641978
Due: none

fix: address pr feedback
  docs/components/multiselect.md
  docs/components/select.md
  sandbox/pages/SandboxMultiselect.vue
  sandbox/pages/SandboxSelect.vue
  src/components/KMultiselect/KMultiselect.vue
  src/components/KMultiselect/KMultiselectItems.vue
  src/components/KSelect/KSelect.vue
  src/components/KSelect/KSelectItems.vue
  src/types/multi-select.ts
  src/types/select.ts
Due: stylelint, eslint

chore(deps): override tar version
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): override tar version (#3066)
  package.json
  pnpm-lock.yaml
Due: none

fix(*): import nested kongponents in components
  src/components/KMultiselect/KMultiselect.vue
Due: stylelint, eslint

fix(*): add missing import
  src/components/KTruncate/KTruncate.vue
Due: stylelint, eslint

fix(*): import nested kongponents in components (#3067)
  src/components/KMultiselect/KMultiselect.vue
  src/components/KTruncate/KTruncate.vue
Due: stylelint, eslint

chore(release): 9.49.8 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  140f991e2da15aeb11c38ff8bc29649d77112acc
Due: none

fix: add samedayfullrange prop to allow valid time range for same day
  sandbox/pages/SandboxDateTimePicker.vue
  src/components/KDateTimePicker/CalendarWrapper.vue
  src/components/KDateTimePicker/KDateTimePicker.cy.ts
  src/components/KDateTimePicker/KDateTimePicker.vue
  src/types/date-time-picker.ts
Due: stylelint, eslint

fix: add customrangevalidation to disable apply
  src/components/KDateTimePicker/CalendarWrapper.vue
  src/components/KDateTimePicker/KDateTimePicker.cy.ts
  src/components/KDateTimePicker/KDateTimePicker.vue
  src/types/date-time-picker.ts
Due: stylelint, eslint

chore: apply pnpm auidt fix
  package.json
  pnpm-lock.yaml
Due: none
