Repository Kong/kongponents: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint

stylelint:
  skip:
  - merge
  - rebase
  run: pnpm exec stylelint -- {push_files}

eslint:
  skip:
  - merge
  - rebase
  run: pnpm exec eslint -- {push_files}

chore: apply pnpm auidt fix (#3072)
  package.json
  pnpm-lock.yaml
Due: none

fix: address pr feedback
  docs/components/select.md
  src/types/select.ts
Due: eslint

fix: address pr feedback
  docs/components/multiselect.md
  docs/components/select.md
  src/components/KMultiselect/KMultiselectItem.vue
  src/types/multi-select.ts
  src/types/select.ts
Due: stylelint, eslint

fix(kinput, kbadge, kcopy): disable contextual lingatures [KHCP-19107]
  src/components/KBadge/KBadge.vue
  src/components/KCopy/KCopy.vue
  src/components/KInput/KInput.vue
Due: stylelint, eslint

fix(kinput, kbadge, kcopy): disable contextual lingatures [KHCP-19107] (#3075)
  src/components/KBadge/KBadge.vue
  src/components/KCopy/KCopy.vue
  src/components/KInput/KInput.vue
Due: stylelint, eslint

chore(release): 9.49.9 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  d8dbc4815a58737cf5d584f20f63ca4eeea1a86f
Due: none

feat(kselect, kmultiselect): item grouping interface [KHCP-19008] (#3057)
  docs/components/multiselect.md
  docs/components/select.md
  sandbox/pages/SandboxMultiselect.vue
  sandbox/pages/SandboxSelect.vue
  src/components/KMultiselect/KMultiselect.cy.ts
  src/components/KMultiselect/KMultiselect.vue
  src/components/KMultiselect/KMultiselectItem.vue
  src/components/KMultiselect/KMultiselectItems.vue
  src/components/KSelect/KSelect.cy.ts
  src/components/KSelect/KSelect.vue
  src/components/KSelect/KSelectItems.vue
  src/types/multi-select.ts
  src/types/select.ts
Due: stylelint, eslint

chore(release): 9.50.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  1792d566ddd10353034a4bad04498032d892b868
Due: none

fix(ktoaster): prevent rerendering container element [KHCP-19222]
  src/components/KToaster/ToastManager.ts
Due: eslint

chore(release): 9.50.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  ec35690940ef1cc893c9c214bd670ab5f209e50a
Due: none

fix(ktoaster): create unique toaster container element [KHCP-19222]
  src/components/KToaster/ToastManager.cy.ts
  src/components/KToaster/ToastManager.ts
Due: eslint

fix: lint:fix
  src/components/KToaster/ToastManager.ts
Due: eslint

fix(ktoaster): use shared container and instance wrappers [KHCP-19222]
  sandbox/pages/SandboxToaster.vue
  src/components/KToaster/KToaster.vue
  src/components/KToaster/ToastManager.ts
Due: stylelint, eslint

test(ktoaster): fix component & unit tests [KHCP-19222]
  src/components/KToaster/KToaster.cy.ts
  src/components/KToaster/KToaster.vue
  src/components/KToaster/ToastManager.cy.ts
Due: stylelint, eslint

fix(ktoaster): prevent duplicate containers via a shared pool v2
  sandbox/composables/useSandboxToaster.ts
  sandbox/pages/SandboxToaster.vue
  src/components/KToaster/SharedPool.ts
  src/components/KToaster/ToastManager.ts
Due: stylelint, eslint

fix(ktoaster): singleton guard and noop SSR manager
  src/components/KToaster/ToastManager.ts
Due: eslint

chore(deps): require tar >=7.5.7
  package.json
  pnpm-lock.yaml
Due: none

chore: minor fix
  package.json
Due: none

fix: address pr feedback
  src/components/KToaster/ToastManager.cy.ts
  src/components/KToaster/ToastManager.ts
Due: eslint

chore(deps): require tar >=7.5.7 (#3081)
  package.json
  pnpm-lock.yaml
Due: none

fix(ktoaster): create unique toaster container element [KHCP-19222] (#3076)
  sandbox/pages/SandboxToaster.vue
  src/components/KToaster/KToaster.cy.ts
  src/components/KToaster/KToaster.vue
  src/components/KToaster/ToastManager.cy.ts
  src/components/KToaster/ToastManager.ts
Due: stylelint, eslint

chore(release): 9.50.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  5b4a0bf303ed2619eba3dff53b22afcf0171b9bd
Due: none

fix(infra): pnpm audit failure
  package.json
  pnpm-lock.yaml
Due: none

chore(infra): remove duplicated entries
  package.json
  pnpm-lock.yaml
Due: none

fix(infra): pnpm audit failure (#3082)
  package.json
  pnpm-lock.yaml
Due: none

chore(radio): address comments
  docs/components/radio.md
Due: none

fix(radio): disabled checked radio card style not match figma
  docs/components/radio.md
  src/components/KRadio/KRadio.vue
Due: stylelint, eslint

chore(release): 9.50.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  4575eb04d0edda2748010b9fc4b876b2d930ed40
Due: none

fix(radio): disabled checked radio card style not match figma (#3058)
  docs/components/radio.md
  src/components/KRadio/KRadio.vue
Due: stylelint, eslint

chore(release): 9.50.4 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  848f57f3b3d3a030028ee8b68dc1ca007e857eed
Due: none

feat(table-data): extract data fetching related code out of k table data
  src/components/KTableData/KTableData.vue
  src/components/KTableData/useTableFetcher.ts
Due: stylelint, eslint

fix: add samedayfullrange prop to allow valid time range for same day
  sandbox/pages/SandboxDateTimePicker.vue
  src/components/KDateTimePicker/CalendarWrapper.vue
  src/components/KDateTimePicker/KDateTimePicker.cy.ts
  src/components/KDateTimePicker/KDateTimePicker.vue
  src/types/date-time-picker.ts
Due: stylelint, eslint

fix: add customrangevalidation to disable apply
  src/components/KDateTimePicker/CalendarWrapper.vue
  src/components/KDateTimePicker/KDateTimePicker.cy.ts
  src/components/KDateTimePicker/KDateTimePicker.vue
  src/types/date-time-picker.ts
Due: stylelint, eslint

feat: basic component initialization
  docs/.vitepress/config.ts
  docs/components/filter-group.md
  src/components/KFilterGroup/KFilterGroup.cy.ts
  src/components/KFilterGroup/KFilterGroup.vue
  src/components/index.ts
  src/global-components.ts
Due: stylelint, eslint

Path conditions:
  stylelint: any of: *.{css,scss,sass,vue}
  eslint: any of: *.{js,mjs,cjs,jsx,ts,tsx,mts,cts,vue}
