Repository Kong/kongponents: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint

stylelint:
  skip:
  - merge
  - rebase
  run: pnpm exec stylelint -- {push_files}

eslint:
  skip:
  - merge
  - rebase
  run: pnpm exec eslint -- {push_files}

fix: use data-testid not data-testId
  src/components/KFilterGroup/InteractivePill.vue
Due: stylelint, eslint

fix: remove broken docs so preview can build
  docs/components/filter-group.md
Due: none

docs: kfiltergroup documentation [KHCP-19484] (#3098)
  docs/components/filter-group.md
Due: none

fix(kselect): selectItemKey string replace
  src/components/KSelect/KSelect.vue
Due: stylelint, eslint

fix: pnpm audit issues
  package.json
  pnpm-lock.yaml
Due: none

chore: remove ajv
  package.json
  pnpm-lock.yaml
Due: none

fix(kselect): selectItemKey string replace (#3109)
  src/components/KSelect/KSelect.vue
Due: stylelint, eslint

fix: pnpm audit issues (#3110)
  package.json
  pnpm-lock.yaml
Due: none

fix: address pr feedback
  docs/components/stepper.md
  sandbox/pages/SandboxStepper.vue
  src/components/KStepper/KStep.vue
  src/components/KStepper/KStepper.cy.ts
  src/components/KStepper/KStepper.vue
  src/types/stepper.ts
Due: stylelint, eslint

chore(release): 9.50.7 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  6931d37d39908d7f98edfae4cf94500948b81faa
Due: none

feat: remaining design feedback and sandbox implementation
  docs/components/filter-group.md
  sandbox/pages/SandboxFilterGroup.vue
  src/components/KFilterGroup/FilterPill.vue
  src/components/KFilterGroup/KFilterGroup.vue
  src/types/filter-group.ts
Due: stylelint, eslint

test(kstepper): fix component tests [KHCP-19677]
  src/components/KStepper/KStepper.cy.ts
Due: eslint

feat(kstepper): step numbers, styles update [KHCP-19677] (#3106)
  docs/.vitepress/theme/index.scss
  docs/components/stepper.md
  sandbox/pages/SandboxStepper.vue
  src/components/KStepper/KStep.vue
  src/components/KStepper/KStepper.cy.ts
  src/components/KStepper/KStepper.vue
  src/types/stepper.ts
Due: stylelint, eslint

chore(release): 9.51.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  1725cdd98151b912fef39108a36266d0204de88f
Due: none

fix: change hide group label to a prop that sets it instead
  docs/components/filter-group.md
  sandbox/pages/SandboxFilterGroup.vue
  src/components/KFilterGroup/KFilterGroup.vue
  src/types/filter-group.ts
Due: stylelint, eslint

fix(*): apply token-var-usage stylelint rule
  .stylelintrc.mjs
  package.json
  pnpm-lock.yaml
  src/components/KEmptyState/KEmptyState.vue
  src/components/KSlider/KSlider.vue
  src/components/KTableView/ColumnVisibilityMenu.vue
  src/components/KTreeList/KTreeDraggable.vue
  src/components/KTreeList/KTreeItem.vue
  src/styles/mixins/_input-text.scss
  src/styles/mixins/_tables.scss
Due: stylelint, eslint

fix(kbreadcrumb): update component styles [KHCP-19741]
  src/components/KBreadcrumbs/KBreadcrumbs.vue
Due: stylelint, eslint

fix: address pr feedback
  src/components/KBreadcrumbs/KBreadcrumbs.vue
Due: stylelint, eslint

test(kbreadcrumb): fix component tests [KHCP-19741]
  src/components/KBreadcrumbs/KBreadcrumbs.cy.ts
Due: eslint

docs(breadcrumbs): minor fixes [KHCP-19741]
  docs/components/breadcrumbs.md
Due: none

docs(breadcrumbs): minor fix [KHCP-19741]
  docs/components/breadcrumbs.md
Due: none

chore: pnpm audit fix
  package.json
  pnpm-lock.yaml
Due: none

chore(release): 9.51.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  2f8b7f9eb3b1aaebb005868da430745966448637
Due: none

chore: pnpm audit fix (#3121)
  package.json
  pnpm-lock.yaml
Due: none

feat: kfiltergroup base functionality [khcp-19485, khcp-19482] (#3092)
  docs/.vitepress/config.ts
  docs/components/filter-group.md
  sandbox/index.ts
  sandbox/pages/SandboxFilterGroup.vue
  sandbox/router/sandbox-routes.ts
  src/components/KFilterGroup/FilterPill.cy.ts
  src/components/KFilterGroup/FilterPill.vue
  src/components/KFilterGroup/FilterSelector.cy.ts
  src/components/KFilterGroup/FilterSelector.vue
  src/components/KFilterGroup/InteractivePill.cy.ts
  src/components/KFilterGroup/InteractivePill.vue
  src/components/KFilterGroup/KFilterGroup.cy.ts
  src/components/KFilterGroup/KFilterGroup.vue
  src/components/index.ts
  src/global-components.ts
  src/types/filter-group.ts
  src/types/index.ts
Due: stylelint, eslint

feat: kfiltergroup content [KHCP-19483] (#3095)
  sandbox/pages/SandboxFilterGroup.vue
  src/components/KFilterGroup/FilterPill.cy.ts
  src/components/KFilterGroup/FilterPill.vue
  src/components/KFilterGroup/FilterSelector.vue
  src/components/KFilterGroup/InteractivePill.vue
  src/components/KFilterGroup/KFilterGroup.cy.ts
  src/components/KFilterGroup/KFilterGroup.vue
  src/components/KMultiselect/KMultiselect.vue
  src/types/filter-group.ts
Due: stylelint, eslint

feat: kfiltergroup design feedback and sandbox implementation [KHCP-19681, KHCP-19486] (#3112)
  docs/components/filter-group.md
  sandbox/pages/SandboxFilterGroup.vue
  src/components/KFilterGroup/FilterPill.vue
  src/components/KFilterGroup/KFilterGroup.vue
  src/types/filter-group.ts
Due: stylelint, eslint

fix: break word on tooltip content
  src/components/KFilterGroup/InteractivePill.vue
Due: stylelint, eslint

fix: focus on pill in browser when opened
  src/components/KFilterGroup/InteractivePill.vue
Due: stylelint, eslint

fix: address pr feedback
  src/styles/mixins/_input-text.scss
  src/styles/mixins/_tables.scss
Due: stylelint

fix(kbreadcrumb): update component styles [KHCP-19741] (#3118)
  docs/components/breadcrumbs.md
  src/components/KBreadcrumbs/KBreadcrumbs.cy.ts
  src/components/KBreadcrumbs/KBreadcrumbs.vue
Due: stylelint, eslint

chore(release): 9.51.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Path conditions:
  stylelint: any of: *.{css,scss,sass,vue}
  eslint: any of: *.{js,mjs,cjs,jsx,ts,tsx,mts,cts,vue}
