Repository Kong/kongponents: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint

stylelint:
  skip:
  - merge
  - rebase
  run: pnpm exec stylelint -- {push_files}

eslint:
  skip:
  - merge
  - rebase
  run: pnpm exec eslint -- {push_files}

feat: add official nuxt integration module for kongponents [KHCP-18358] (#2953)
  docs/guide/usage.md
  nuxt/index.ts
  nuxt/runtime/composables/useToast.ts
  package.json
  pnpm-lock.yaml
  src/components/KToaster/ToastManager.ts
  tsconfig.build.nuxt.json
  tsconfig.json
Due: eslint

chore(release): 9.45.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  e2abb52957dc139f0a750e2e4b1b004dac7b5e89
Due: none

fix: ci publish pipeline
  .github/workflows/publish.yaml
Due: none

fix: ci publish pipeline (#2963)
  .github/workflows/publish.yaml
Due: none

fix: trigger release
  src/index.ts
Due: eslint

chore(release): 9.45.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  06c270fef5ae25bea6549ec232bbc657eaccb2be
Due: none

fix: address pr feedback
  sandbox/pages/SandboxTableView/SandboxTableView.vue
  src/components/KTableData/KTableData.cy.ts
  src/components/KTableView/KTableView.cy.ts
  src/components/KTableView/KTableView.vue
  src/types/table.ts
Due: stylelint, eslint

fix: minor fix
  sandbox/pages/SandboxTableView/SandboxTableView.vue
Due: stylelint, eslint

fix: address pr feedback
  sandbox/pages/SandboxTableView/SandboxTableView.vue
  sandbox/pages/SandboxTreeList.vue
  src/components/KTableView/KTableView.vue
Due: stylelint, eslint

fix: minor fix
  sandbox/pages/SandboxTableView/SandboxTableView.vue
  src/components/KTableData/KTableData.cy.ts
  src/components/KTableView/KTableView.cy.ts
  src/components/KTableView/KTableView.vue
Due: stylelint, eslint

fix: minor fix
  sandbox/pages/SandboxTreeList.vue
Due: stylelint, eslint

fix: minor fix
  src/components/KTableView/KTableView.vue
Due: stylelint, eslint

fix(vite): update build config to preserve modules for chunked output [KHCP-18457]
  nuxt/index.ts
  package.json
  vite.config.ts
Due: eslint

fix(nuxt): make components global
  nuxt/index.ts
Due: eslint

fix: set preserveEntrySignatures for build
  vite.config.ts
Due: eslint

chore: update comment
  nuxt/index.ts
Due: eslint

fix: minor fix
  src/styles/mixins/_tables.scss
Due: stylelint

fix: keep umd build
  package.json
  vite.config.ts
Due: eslint

fix: address pr suggestions
  nuxt/index.ts
  package.json
  vite.config.ts
Due: eslint

fix: script
  package.json
Due: none

fix: format with standard syntax
  src/components/KTruncate/KTruncate.vue
Due: stylelint, eslint

fix(ktableview): update overlay visibility when the table is resized (#2956)
  src/components/KTableView/KTableView.vue
Due: stylelint, eslint

chore(release): 9.45.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  cfca51739d38b2d26cda0b7773cb05e9fec8479a
Due: none

docs: update kongponents to the latest version in cdn example
  docs/guide/index.md
Due: none

fix(ktruncate): optimize performance by avoiding forced reflow (#2957)
  src/components/KTruncate/KTruncate.vue
Due: stylelint, eslint

chore(release): 9.45.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  787b03b1f1edc7c1099fc14f76e42935a5488229
Due: none

docs: update kongponents to the latest version in cdn example (#2973)
  docs/guide/index.md
Due: none

feat(packaging): update build config to preserve modules for chunked output [KHCP-18457] (#2966)
  nuxt/index.ts
  package.json
  vite.config.ts
Due: eslint

chore(release): 9.46.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  00eacbdcc5c18698eeb1885d9e75653a01aeea1b
Due: none

test(ktableview, ktabledata): add test scenarios [KHCP-18152]
  src/components/KTableData/KTableData.cy.ts
  src/components/KTableView/KTableView.cy.ts
Due: eslint

test: minor fix [KHCP-18152]
  src/components/KTableData/KTableData.cy.ts
  src/components/KTableView/KTableView.cy.ts
Due: eslint

docs(table-view, table-data): sorting order [KHCP-18152]
  docs/components/table-data.md
  docs/components/table-view.md
Due: none

fix(ktableview): 3 state sort interface [KHCP-18152] (#2962)
  docs/components/table-data.md
  docs/components/table-view.md
  sandbox/pages/SandboxTableView/SandboxTableView.vue
  src/components/KTableData/KTableData.cy.ts
  src/components/KTableView/KTableView.cy.ts
  src/components/KTableView/KTableView.vue
  src/styles/mixins/_tables.scss
Due: stylelint, eslint

Path conditions:
  stylelint: any of: *.{css,scss,sass,vue}
  eslint: any of: *.{js,mjs,cjs,jsx,ts,tsx,mts,cts,vue}
