Repository Kong/kongponents: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint

stylelint:
  skip:
  - merge
  - rebase
  run: pnpm exec stylelint -- {push_files}

eslint:
  skip:
  - merge
  - rebase
  run: pnpm exec eslint -- {push_files}

fix(ktoaster): prevent creating duplicate containers [KHCP-18535]
  src/components/KToaster/ToastManager.cy.ts
  src/components/KToaster/ToastManager.ts
Due: eslint

fix(kalert): link style
  src/components/KAlert/KAlert.vue
Due: stylelint, eslint

chore(release): 9.48.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  7b48fcd6cb4fe464f6769c3d8babff964e327000
Due: none

fix(kalert): link style (#3018)
  src/components/KAlert/KAlert.vue
Due: stylelint, eslint

chore(release): 9.48.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  76ab204f903b48f90618909cf1fcdbdd8217ea79
Due: none

fix(kdatetimepicker): time inputs on same line
  src/components/KDateTimePicker/CalendarWrapper.vue
Due: stylelint, eslint

fix: component test
  src/components/KDateTimePicker/KDateTimePicker.cy.ts
Due: eslint

fix: style
  src/components/KDateTimePicker/CalendarWrapper.vue
Due: stylelint, eslint

fix: line height
  src/components/KDateTimePicker/CalendarWrapper.vue
Due: stylelint, eslint

fix: add back grey background
  src/components/KDateTimePicker/CalendarWrapper.vue
Due: stylelint, eslint

fix: no bottom margin for label
  src/components/KDateTimePicker/CalendarWrapper.vue
Due: stylelint, eslint

fix: remove popover footer top margin
  src/components/KDateTimePicker/KDateTimePicker.vue
Due: stylelint, eslint

fix(kdatetimepicker): time inputs on same line (#3023)
  src/components/KDateTimePicker/CalendarWrapper.vue
  src/components/KDateTimePicker/KDateTimePicker.cy.ts
  src/components/KDateTimePicker/KDateTimePicker.vue
Due: stylelint, eslint

chore(release): 9.48.4 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  1b74970c1a95543439952bd7ae3f346615c62506
Due: none

fix(ktextarea): fix mixin inclusion to prevent invalid css
  src/components/KTextArea/KTextArea.vue
  src/styles/mixins/_input-text.scss
Due: stylelint, eslint

fix(kcodeblock): ssr types check
  src/components/KCodeBlock/KCodeBlock.vue
Due: stylelint, eslint

fix: address pr feedback
  src/components/KCodeBlock/KCodeBlock.vue
Due: stylelint, eslint

fix(kcodeblock): ssr types check (#3027)
  src/components/KCodeBlock/KCodeBlock.vue
Due: stylelint, eslint

chore(release): 9.48.5 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  0043a928e5da8aca60955a7e33e40a7138638ede
Due: none

fix(ktextarea): fix mixin inclusion to prevent invalid css (#3026)
  src/components/KTextArea/KTextArea.vue
  src/styles/mixins/_input-text.scss
Due: stylelint, eslint

chore(release): 9.48.6 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  ba0e90ab051a52eb6e2ba0b7eb2f1d997dd88295
Due: none

chore(release): 9.48.7 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  c071f7d3efed1ac94a8b1a3c076bb9e14e38b18f
Due: none

chore(release): 9.48.8 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  fed163a2c22de0d2d1aaef58181eed6e664e5a73
Due: none

feat(kslider): make step labels clickable [KHCP-19044]
  src/components/KSlider/KSlider.cy.ts
  src/components/KSlider/KSlider.vue
Due: stylelint, eslint

chore(deps): bump cypress
  package.json
  pnpm-lock.yaml
Due: none

test(*): fix component tests
  cypress/support/index.ts
  src/components/KModal/KModal.cy.ts
  src/components/KSelect/KSelect.cy.ts
  src/components/KTableData/KTableData.cy.ts
  src/components/KTableView/KTableView.cy.ts
Due: eslint

chore: update lockfile
  pnpm-lock.yaml
Due: none

test: minor fixes
  src/components/KTableView/KTableView.cy.ts
Due: eslint

chore(cypress): disable vue devtools in tests
  cypress/support/index.ts
  package.json
  vite.config.ts
Due: eslint

chore: apply pr feedback
  vite.config.ts
Due: eslint

chore(deps): bump cypress (#3039)
  package.json
  pnpm-lock.yaml
  src/components/KModal/KModal.cy.ts
  src/components/KSelect/KSelect.cy.ts
  src/components/KTableData/KTableData.cy.ts
  src/components/KTableView/KTableView.cy.ts
  vite.config.ts
Due: eslint

chore(release): 9.48.9 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  17a2f3eb735157fea053b3b9279825731dc74ad7
Due: none

Path conditions:
  stylelint: any of: *.{css,scss,sass,vue}
  eslint: any of: *.{js,mjs,cjs,jsx,ts,tsx,mts,cts,vue}
