Repository Kong/kongponents: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint

stylelint:
  skip:
  - merge
  - rebase
  run: pnpm exec stylelint -- {push_files}

eslint:
  skip:
  - merge
  - rebase
  run: pnpm exec eslint -- {push_files}

Notes added by 'git notes add'
  de8bbcef2948a46d073b7cb22505c0ed812c4484
Due: none

chore(deps): bump @babel/types, tsc-alias, autoprefixer (#3252)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump @evilmartians/lefthook, semantic-release (#3254)
  package.json
  pnpm-lock.yaml
Due: none

fix(kstepper): z-index for step container
  src/components/KStepper/KStep.vue
Due: stylelint, eslint

fix(kemptystate): icon colors
  src/components/KCodeBlock/KCodeBlock.vue
  src/components/KEmptyState/KEmptyState.vue
Due: stylelint, eslint

fix: link component tokens
  src/components/KExternalLink/KExternalLink.vue
Due: stylelint, eslint

fix(kpop): scrollbar width
  src/components/KPop/KPop.vue
Due: stylelint, eslint

chore: update package
  package.json
  pnpm-lock.yaml
Due: none

fix: undici
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: undici range fix
  .playwright-mcp/page-2026-06-23T19-46-46-606Z.yml
  .playwright-mcp/page-2026-06-23T19-47-14-674Z.yml
  .playwright-mcp/page-2026-06-23T19-47-26-062Z.yml
  .playwright-mcp/page-2026-06-23T19-48-54-684Z.yml
  .playwright-mcp/page-2026-06-23T19-55-54-983Z.yml
  .playwright-mcp/page-2026-06-23T20-00-01-443Z.yml
  .playwright-mcp/page-2026-06-23T20-02-37-432Z.yml
  .playwright-mcp/page-2026-06-23T20-03-46-204Z.yml
  .playwright-mcp/page-2026-06-23T20-08-49-374Z.yml
  .playwright-mcp/page-2026-06-23T20-12-06-551Z.yml
  .playwright-mcp/page-2026-06-23T20-48-00-091Z.yml
  .playwright-mcp/page-2026-06-23T20-48-12-152Z.yml
  .playwright-mcp/page-2026-06-23T20-48-34-872Z.yml
  .playwright-mcp/page-2026-06-23T20-49-17-498Z.yml
  .playwright-mcp/page-2026-06-23T20-57-20-177Z.yml
  .playwright-mcp/page-2026-06-23T20-57-43-682Z.yml
  .playwright-mcp/page-2026-06-23T21-10-28-184Z.yml
  .playwright-mcp/page-2026-06-23T21-10-35-012Z.yml
  .playwright-mcp/page-2026-06-23T21-18-13-619Z.yml
  .playwright-mcp/page-2026-06-24T17-14-11-839Z.yml
  .playwright-mcp/page-2026-06-24T17-15-51-796Z.yml
  .playwright-mcp/page-2026-06-24T17-54-20-351Z.yml
  .playwright-mcp/page-2026-06-24T17-54-39-656Z.yml
  .playwright-mcp/page-2026-06-24T17-54-54-653Z.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: gitignore
  .gitignore
  .playwright-mcp/page-2026-06-23T19-46-46-606Z.yml
  .playwright-mcp/page-2026-06-23T19-47-14-674Z.yml
  .playwright-mcp/page-2026-06-23T19-47-26-062Z.yml
  .playwright-mcp/page-2026-06-23T19-48-54-684Z.yml
  .playwright-mcp/page-2026-06-23T19-55-54-983Z.yml
  .playwright-mcp/page-2026-06-23T20-00-01-443Z.yml
  .playwright-mcp/page-2026-06-23T20-02-37-432Z.yml
  .playwright-mcp/page-2026-06-23T20-03-46-204Z.yml
  .playwright-mcp/page-2026-06-23T20-08-49-374Z.yml
  .playwright-mcp/page-2026-06-23T20-12-06-551Z.yml
  .playwright-mcp/page-2026-06-23T20-48-00-091Z.yml
  .playwright-mcp/page-2026-06-23T20-48-12-152Z.yml
  .playwright-mcp/page-2026-06-23T20-48-34-872Z.yml
  .playwright-mcp/page-2026-06-23T20-49-17-498Z.yml
  .playwright-mcp/page-2026-06-23T20-57-20-177Z.yml
  .playwright-mcp/page-2026-06-23T20-57-43-682Z.yml
  .playwright-mcp/page-2026-06-23T21-10-28-184Z.yml
  .playwright-mcp/page-2026-06-23T21-10-35-012Z.yml
  .playwright-mcp/page-2026-06-23T21-18-13-619Z.yml
  .playwright-mcp/page-2026-06-24T17-14-11-839Z.yml
  .playwright-mcp/page-2026-06-24T17-15-51-796Z.yml
  .playwright-mcp/page-2026-06-24T17-54-20-351Z.yml
  .playwright-mcp/page-2026-06-24T17-54-39-656Z.yml
  .playwright-mcp/page-2026-06-24T17-54-54-653Z.yml
Due: none

chore: undici range fix (#3263)
  .gitignore
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: comment format
  src/index.ts
Due: eslint

fix(kbadge): do not use important for width
  src/components/KBadge/KBadge.vue
Due: stylelint, eslint

fix(kbadge): max-width remove important
  src/components/KBadge/KBadge.vue
Due: stylelint, eslint

revert(vite): css cascade layer
  vite.config.ts
Due: eslint

fix(kbadge): max-width remove important (#3266)
  src/components/KBadge/KBadge.vue
Due: stylelint, eslint

chore(release): 9.60.5 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  3b635995fe4ef23a88d2b286b6fe7d078274786b
Due: none

chore(deps): bump vue, @vue/compiler-core
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump @commitlint/cli, @commitlint/config-conventional, commitizen, @babel/core
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(deps): bump axios override, pnpm, node
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: ts
  src/components/KDropdown/KDropdownItem.vue
Due: stylelint, eslint

chore(deps): bump @commitlint/cli, @commitlint/config-conventional, commitizen, @babel/core (#3268)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(deps): bump axios override, pnpm, node (#3269)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(deps): bump vue, @vue/compiler-core (#3267)
  package.json
  pnpm-lock.yaml
  src/components/KDropdown/KDropdownItem.vue
Due: stylelint, eslint

chore(release): 9.60.6 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  d78f594d05006e50d18fb1e8a51557aeb2b2b091
Due: none

chore: lockfile
  pnpm-lock.yaml
Due: none

chore: theme cleanup
  docs/.vitepress/theme/utils/docsThemes.ts
  docs/guide/theming.md
  package.json
  pnpm-lock.yaml
  sandbox/utils/sandboxThemes.ts
Due: eslint

test: update assertion
  src/theme/themeable-tokens.spec.ts
Due: eslint

fix: themeable tokens
  package.json
  pnpm-lock.yaml
  src/theme/themeToCssVars.ts
  src/theme/themeable-tokens.spec.ts
  src/types/theme.ts
Due: eslint

test(kdatetimepicker): first of month test failure
  src/components/KDateTimePicker/KDateTimePicker.cy.ts
Due: eslint

test(kdatetimepicker): first of month test failure (#3275)
  src/components/KDateTimePicker/KDateTimePicker.cy.ts
Due: eslint

fix(kpop, kmodal, kslideout): teleported kpop z-index [KHCP-20474]
  docs/components/popover.md
  sandbox/pages/SandboxModals.vue
  sandbox/pages/SandboxSlideout.vue
  src/components/KModal/KModal.cy.ts
  src/components/KModal/KModal.vue
  src/components/KPop/KPop.cy.ts
  src/components/KPop/KPop.vue
  src/components/KSlideout/KSlideout.cy.ts
  src/components/KSlideout/KSlideout.vue
  src/utilities/injection-keys.ts
Due: stylelint, eslint

fix: import path
  package.json
  pnpm-lock.yaml
  src/theme/themeToCssVars.ts
  src/theme/themeable-tokens.spec.ts
  src/types/theme.ts
Due: eslint

Path conditions:
  stylelint: any of: *.{css,scss,sass,vue}
  eslint: any of: *.{js,mjs,cjs,jsx,ts,tsx,mts,cts,vue}
