Repository Kong/kongponents: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint

lefthook.yaml:

# Reference:
# https://lefthook.dev/configuration/

pre-push:
  parallel: true
  commands:
    stylelint:
      skip:
        - merge
        - rebase
      glob: '*.{css,scss,sass,vue}'
      run: pnpm exec stylelint -- {push_files}
    eslint:
      skip:
        - merge
        - rebase
      glob: '*.{js,mjs,cjs,jsx,ts,tsx,mts,cts,vue}'
      run: pnpm exec eslint -- {push_files}

commit-msg:
  parallel: true
  commands:
    commitlint:
      skip:
        - merge
        - rebase
      run: pnpm commitlint --edit "$1"

fix(kpagination): duplicate last-page button when mounted on last page (#3187)
  src/components/KPagination/KPagination.cy.ts
  src/components/KPagination/KPagination.vue
Due: stylelint, eslint

chore(release): 9.55.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  a1f5036cda3bc3ba8c9b87f1b760930a0ecfa3cb
Due: none

feat(kbutton): button component tokens
  .gitignore
  docs/guide/contributing.md
  docs/guide/theming.md
  package.json
  pnpm-lock.yaml
  src/components/KButton/KButton.vue
  src/styles/mixins/_buttons.scss
Due: stylelint, eslint

fix: address styling feedback
  src/components/KFilterGroup/FilterSelector.vue
Due: stylelint, eslint

feat: add slots for filter items
  docs/components/filter-group.md
  src/components/KFilterGroup/FilterSelector.cy.ts
  src/components/KFilterGroup/FilterSelector.vue
  src/components/KFilterGroup/KFilterGroup.cy.ts
  src/components/KFilterGroup/KFilterGroup.vue
  src/types/filter-group.ts
Due: stylelint, eslint

chore(poc): brand tokens instead of primary
  src/components/KButton/KButton.vue
Due: stylelint, eslint

feat: add slots for filter items [ma-5062] (#3214)
  docs/components/filter-group.md
  src/components/KFilterGroup/FilterSelector.cy.ts
  src/components/KFilterGroup/FilterSelector.vue
  src/components/KFilterGroup/KFilterGroup.cy.ts
  src/components/KFilterGroup/KFilterGroup.vue
  src/types/filter-group.ts
Due: stylelint, eslint

chore(release): 9.56.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  056cb338f6e46e6b6f1b81919bbd55cde7ea8a90
Due: none

fix(project): pnpm audit blockage
  package.json
  pnpm-lock.yaml
Due: none

fix(project): pnpm audit blockage (#3221)
  package.json
  pnpm-lock.yaml
Due: none

chore(release): 9.56.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  810eba79ff471adeaf5bb6d8b7219196a8783e8a
Due: none

fix: package version
  package.json
  pnpm-lock.yaml
Due: none

fix(tokens): enforce token css var usage
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  sandbox/pages/SandboxCard.vue
  sandbox/pages/SandboxCollapse.vue
  sandbox/pages/SandboxEmptyState.vue
  sandbox/pages/SandboxModals.vue
  sandbox/pages/SandboxPop.vue
  sandbox/pages/SandboxTreeList.vue
  src/components/KAlert/KAlert.vue
  src/components/KCheckbox/KCheckbox.vue
  src/components/KCodeBlock/KCodeBlock.vue
  src/components/KCollapse/KCollapse.vue
  src/components/KCopy/KCopy.vue
  src/components/KDateTimePicker/KDateTimePicker.vue
  src/components/KDropdown/KDropdown.vue
  src/components/KEmptyState/KEmptyState.vue
  src/components/KExternalLink/KExternalLink.vue
  src/components/KFilterGroup/FilterPill.vue
  src/components/KFilterGroup/InteractivePill.vue
  src/components/KModalFullscreen/KModalFullscreen.vue
  src/components/KMultiselect/KMultiselect.vue
  src/components/KPop/KPop.vue
  src/components/KSelect/KSelect.vue
  src/components/KStepper/KStep.vue
  src/components/KTable/KTable.vue
  src/components/KTableView/KTableView.vue
  src/components/KToaster/KToaster.vue
  src/components/KTooltip/KTooltip.vue
  src/components/KTreeList/KTreeItem.vue
  src/components/KTruncate/KTruncate.vue
Due: stylelint, eslint

fix(deps): update package
  package.json
  pnpm-lock.yaml
Due: none

fix(tokens): enforce token css var usage (#3223)
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  sandbox/pages/SandboxCard.vue
  sandbox/pages/SandboxCollapse.vue
  sandbox/pages/SandboxEmptyState.vue
  sandbox/pages/SandboxModals.vue
  sandbox/pages/SandboxPop.vue
  sandbox/pages/SandboxTreeList.vue
  src/components/KAlert/KAlert.vue
  src/components/KCheckbox/KCheckbox.vue
  src/components/KCodeBlock/KCodeBlock.vue
  src/components/KCollapse/KCollapse.vue
  src/components/KCopy/KCopy.vue
  src/components/KDateTimePicker/KDateTimePicker.vue
  src/components/KDropdown/KDropdown.vue
  src/components/KEmptyState/KEmptyState.vue
  src/components/KExternalLink/KExternalLink.vue
  src/components/KFilterGroup/FilterPill.vue
  src/components/KFilterGroup/InteractivePill.vue
  src/components/KModalFullscreen/KModalFullscreen.vue
  src/components/KMultiselect/KMultiselect.vue
  src/components/KPop/KPop.vue
  src/components/KSelect/KSelect.vue
  src/components/KStepper/KStep.vue
  src/components/KTable/KTable.vue
  src/components/KTableView/KTableView.vue
  src/components/KToaster/KToaster.vue
  src/components/KTooltip/KTooltip.vue
  src/components/KTreeList/KTreeItem.vue
  src/components/KTruncate/KTruncate.vue
Due: stylelint, eslint

chore(release): 9.56.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  e63a43d5a2949263e7e3f20dba9eed52422b15c7
Due: none

feat(kpop): implement popover delay prop
  docs/components/popover.md
  sandbox/pages/SandboxPop.vue
  src/components/KPop/KPop.cy.ts
  src/components/KPop/KPop.vue
  src/types/popover.ts
Due: stylelint, eslint

fix: stylelint:fix
  sandbox/pages/SandboxPop.vue
Due: stylelint, eslint

fix: lint:fix
  src/components/KPop/KPop.cy.ts
Due: eslint

chore: ignore axios ghsas
  package.json
Due: none

feat(kpop): implement popover delay prop (#3224)
  docs/components/popover.md
  sandbox/pages/SandboxPop.vue
  src/components/KPop/KPop.cy.ts
  src/components/KPop/KPop.vue
  src/types/popover.ts
Due: stylelint, eslint

chore(release): 9.57.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  c2146d12b6ada6625b8332c3582d96e34415246e
Due: none

feat: add disabled prop to KFilterGroup
  docs/components/filter-group.md
  sandbox/pages/SandboxFilterGroup.vue
  src/components/KFilterGroup/FilterPill.vue
  src/components/KFilterGroup/FilterSelector.cy.ts
  src/components/KFilterGroup/FilterSelector.vue
  src/components/KFilterGroup/InteractivePill.cy.ts
  src/components/KFilterGroup/InteractivePill.vue
  src/components/KFilterGroup/KFilterGroup.vue
  src/types/filter-group.ts
Due: stylelint, eslint

feat: add a readonly prop to filters
  docs/components/filter-group.md
  sandbox/pages/SandboxFilterGroup.vue
  src/components/KFilterGroup/FilterPill.vue
  src/components/KFilterGroup/FilterSelector.cy.ts
  src/components/KFilterGroup/FilterSelector.vue
  src/components/KFilterGroup/InteractivePill.cy.ts
  src/components/KFilterGroup/InteractivePill.vue
  src/types/filter-group.ts
Due: stylelint, eslint

feat: enable filter select item searching
  docs/components/filter-group.md
  sandbox/pages/SandboxFilterGroup.vue
  src/components/KFilterGroup/FilterSelector.cy.ts
  src/components/KFilterGroup/FilterSelector.vue
  src/components/KFilterGroup/KFilterGroup.vue
  src/types/filter-group.ts
Due: stylelint, eslint

feat: enable filter select item searching (#3228)
  docs/components/filter-group.md
  sandbox/pages/SandboxFilterGroup.vue
  src/components/KFilterGroup/FilterSelector.cy.ts
  src/components/KFilterGroup/FilterSelector.vue
  src/components/KFilterGroup/KFilterGroup.vue
  src/types/filter-group.ts
Due: stylelint, eslint

chore(release): 9.58.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  b9b43ba979f6da17aa90277bb54bc794150987d2
Due: none

feat: add a readonly prop to filters (#3229)
  docs/components/filter-group.md
  sandbox/pages/SandboxFilterGroup.vue
  src/components/KFilterGroup/FilterPill.vue
  src/components/KFilterGroup/FilterSelector.cy.ts
  src/components/KFilterGroup/FilterSelector.vue
  src/components/KFilterGroup/InteractivePill.cy.ts
  src/components/KFilterGroup/InteractivePill.vue
  src/types/filter-group.ts
Due: stylelint, eslint

chore(release): 9.59.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  4b7467b3daeef627f0af4608a7750b72dd59ede2
Due: none

feat(poc): themable kongponents
  docs/guide/theming.md
  nuxt/index.ts
  package.json
  sandbox/App.vue
  sandbox/components/SandboxSectionComponent.vue
  sandbox/components/SandboxTitleComponent.vue
  sandbox/index.html
  sandbox/index.ts
  sandbox/pages/SandboxTheming.vue
  sandbox/router/sandbox-routes.ts
  scripts/generate-theme-contract.mjs
  src/components/KThemeProvider/KThemeProvider.cy.ts
  src/components/KThemeProvider/KThemeProvider.vue
  src/components/index.ts
  src/composables/useTheme.ts
  src/index.ts
  src/theme/applyTheme.ts
  src/theme/contract.ts
  src/theme/defineKongponentsTheme.ts
  src/theme/index.ts
  src/theme/themeToCssVars.ts
  src/theme/themes/brandPortal.ts
  src/theme/themes/brandPortalB.ts
  src/theme/themes/dark.ts
  src/theme/themes/index.ts
  src/theme/themes/light.ts
  src/types/index.ts
  src/types/theme.ts
  vite.config.ts
Due: stylelint, eslint

fix: lint
  sandbox/pages/SandboxTheming.vue
  src/theme/themes/brandPortal.ts
  src/theme/themes/brandPortalB.ts
  src/theme/themes/dark.ts
Due: stylelint, eslint
