Repository Kong/kongponents: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint

stylelint:
  skip:
  - merge
  - rebase
  run: pnpm exec stylelint -- {push_files}

eslint:
  skip:
  - merge
  - rebase
  run: pnpm exec eslint -- {push_files}

chore(deps): bump sandbox-layout
  package.json
  pnpm-lock.yaml
Due: none

chore(sandbox): fix theme picker (#3443)
  package.json
  pnpm-lock.yaml
  sandbox/App.vue
  sandbox/index.ts
Due: stylelint, eslint

fix(mcp): align implementation with review feedback [KHCP-21913]
  .github/workflows/test.yaml
  docs/.vitepress/config.ts
  docs/guide/mcp-server.md
  docs/plans/mcp-server.md
  mcp/generate-snapshot.ts
  mcp/server.spec.ts
  mcp/server.ts
  mcp/tools.spec.ts
  mcp/tools.ts
  mcp/types.ts
  package.json
  vitest.config.ts
Due: eslint

fix(*): label slot in components using klabel [KHCP-21969]
  docs/components/file-upload.md
  docs/components/input.md
  docs/components/multiselect.md
  docs/components/select.md
  docs/components/slider.md
  docs/components/textarea.md
  src/components/KFileUpload/KFileUpload.browser.spec.ts
  src/components/KFileUpload/KFileUpload.vue
  src/components/KInput/KInput.browser.spec.ts
  src/components/KInput/KInput.vue
  src/components/KMultiselect/KMultiselect.browser.spec.ts
  src/components/KMultiselect/KMultiselect.vue
  src/components/KSelect/KSelect.browser.spec.ts
  src/components/KSelect/KSelect.vue
  src/components/KSlider/KSlider.browser.spec.ts
  src/components/KSlider/KSlider.vue
  src/components/KTextArea/KTextArea.browser.spec.ts
  src/components/KTextArea/KTextArea.vue
  src/types/file-upload.ts
  src/types/input.ts
  src/types/multi-select.ts
  src/types/select.ts
  src/types/slider.ts
  src/types/text-area.ts
Due: stylelint, eslint

fix(kselect, kmultiselect): dropdown open and close events [KHCP-21968]
  docs/components/multiselect.md
  docs/components/select.md
  sandbox/pages/SandboxMultiselect.vue
  sandbox/pages/SandboxSelect.vue
  src/components/KMultiselect/KMultiselect.browser.spec.ts
  src/components/KMultiselect/KMultiselect.vue
  src/components/KSelect/KSelect.browser.spec.ts
  src/components/KSelect/KSelect.vue
  src/types/multi-select.ts
  src/types/select.ts
Due: stylelint, eslint

fix: address pr feedback
  src/components/KMultiselect/KMultiselect.browser.spec.ts
  src/components/KMultiselect/KMultiselect.vue
Due: stylelint, eslint

fix: address pr feedback
  docs/components/multiselect.md
Due: none

fix(kselect, kmultiselect): dropdown open and close events [KHCP-21968] (#3446)
  docs/components/multiselect.md
  docs/components/select.md
  sandbox/pages/SandboxMultiselect.vue
  sandbox/pages/SandboxSelect.vue
  src/components/KMultiselect/KMultiselect.browser.spec.ts
  src/components/KMultiselect/KMultiselect.vue
  src/components/KSelect/KSelect.browser.spec.ts
  src/components/KSelect/KSelect.vue
  src/types/multi-select.ts
  src/types/select.ts
Due: stylelint, eslint

chore(release): 9.64.21 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  be41cb2a34386b097c04562528e619f146c1ce4e
Due: none

fix(deps): move kdatetimepicker to date-fns 4 and drop date-fns-tz
  docs/vite.config.ts
  package.json
  pnpm-lock.yaml
  src/components/KDateTimePicker/KDateTimePicker.browser.spec.ts
  src/components/KDateTimePicker/KDateTimePicker.vue
  test/consumer/index.html
  test/consumer/package.json
  test/consumer/run.mjs
  test/consumer/src/main.ts
  test/consumer/vite.config.ts
  tsconfig.json
  vite.config.ts
  vitest.config.ts
Due: stylelint, eslint

fix: address pr feedback
  src/components/KFileUpload/KFileUpload.browser.spec.ts
  src/components/KInput/KInput.browser.spec.ts
  src/components/KMultiselect/KMultiselect.browser.spec.ts
  src/components/KSelect/KSelect.browser.spec.ts
  src/components/KSlider/KSlider.browser.spec.ts
  src/components/KTextArea/KTextArea.browser.spec.ts
Due: eslint

fix(*): label slot in components using klabel [KHCP-21969] (#3445)
  docs/components/file-upload.md
  docs/components/input.md
  docs/components/multiselect.md
  docs/components/select.md
  docs/components/slider.md
  docs/components/textarea.md
  src/components/KFileUpload/KFileUpload.browser.spec.ts
  src/components/KFileUpload/KFileUpload.vue
  src/components/KInput/KInput.browser.spec.ts
  src/components/KInput/KInput.vue
  src/components/KMultiselect/KMultiselect.browser.spec.ts
  src/components/KMultiselect/KMultiselect.vue
  src/components/KSelect/KSelect.browser.spec.ts
  src/components/KSelect/KSelect.vue
  src/components/KSlider/KSlider.browser.spec.ts
  src/components/KSlider/KSlider.vue
  src/components/KTextArea/KTextArea.browser.spec.ts
  src/components/KTextArea/KTextArea.vue
  src/types/file-upload.ts
  src/types/input.ts
  src/types/multi-select.ts
  src/types/select.ts
  src/types/slider.ts
  src/types/text-area.ts
Due: stylelint, eslint

chore(release): 9.64.22 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  ca8ebc8ab870d918e6870d99c4e2543d938e615f
Due: none

fix: switching ci from pat to app token [KHCP-2195]
  .github/workflows/pr-audit.yaml
  .github/workflows/pr-closed.yaml
  .github/workflows/publish.yaml
Due: none

fix: update .github/workflows/publish.yaml
  .github/workflows/publish.yaml
Due: none

fix: missing permissions
  .github/workflows/publish.yaml
Due: none

fix: force publish
  src/types/date-time-picker.ts
Due: eslint

fix: switching ci from pat to app token [KHCP-2195] (#3448)
  .github/workflows/pr-audit.yaml
  .github/workflows/pr-closed.yaml
  .github/workflows/publish.yaml
  src/types/date-time-picker.ts
Due: eslint

chore(release): 9.64.23 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  37e4971648d1dd3539138c39460dc722bcaef08e
Due: none

fix(kselect): prevent popover styles from affecting nested tooltips
  src/components/KSelect/KSelect.vue
Due: stylelint, eslint

fix(kmultiselect): prevent popover styles from affecting nested tooltips
  src/components/KMultiselect/KMultiselect.vue
Due: stylelint, eslint

test(kselect): cover nested tooltip styles in dropdown footers
  src/components/KSelect/KSelect.browser.spec.ts
Due: eslint

feat(mcp): add kongponents documentation server [KHCP-21913]
  .github/workflows/get-changed-files.yaml
  .github/workflows/publish.yaml
  .github/workflows/test.yaml
  docs/.vitepress/config.ts
  docs/guide/mcp-server.md
  docs/plans/mcp-server.md
  mcp/build.ts
  mcp/catalog.ts
  mcp/generate-snapshot.ts
  mcp/lib/catalog.ts
  mcp/lib/search.ts
  mcp/server.spec.ts
  mcp/server.ts
  mcp/stdio.ts
  mcp/tools.spec.ts
  mcp/tools.ts
  mcp/tsconfig.json
  mcp/types.ts
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: eslint

fix(mcp): address review feedback [KHCP-21913]
  docs/guide/mcp-server.md
  docs/plans/mcp-server.md
  mcp/catalog.spec.ts
  mcp/catalog.ts
  mcp/generate-snapshot.ts
  mcp/lib/markdown.spec.ts
  mcp/lib/markdown.ts
  mcp/server.ts
  mcp/tools.spec.ts
  mcp/tools.ts
  mcp/types.ts
Due: eslint

test(mcp): add packaged executable coverage [KHCP-21913]
  .github/workflows/get-changed-files.yaml
  mcp/package.spec.ts
  mcp/test-global-setup.ts
  vitest.config.ts
Due: eslint

feat(mcp): added files [KHCP-21913]
  mcp/lib/markdown.spec.ts
  mcp/lib/markdown.ts
Due: eslint

docs(mcp): add cursor, zed, and web-storm setup guides [KHCP-21913]
  docs/guide/mcp-server.md
Due: none

feat(mcp): add token-efficient component documentation tools [KHCP-21913]
  docs/guide/mcp-server.md
  docs/plans/mcp-server.md
  mcp/server.spec.ts
  mcp/server.ts
  mcp/tools.spec.ts
  mcp/tools.ts
Due: eslint

fix: testing fork
  netlify.toml
Due: none

fix: update index.ts
  src/index.ts
Due: eslint

chore(deps): regenerate pnpm-lock.yaml for axios security override
  pnpm-lock.yaml
Due: none

fix: lint:fix
  sandbox/pages/SandboxInput.vue
  src/components/KDropdown/KDropdown.vue
Due: stylelint, eslint

fix(deps): sync lockfile with brace-expansion override, fix semver trust exclude
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Path conditions:
  stylelint: any of: *.{css,scss,sass,vue}
  eslint: any of: *.{js,mjs,cjs,jsx,ts,tsx,mts,cts,vue}
