Repository Kong/kongponents: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint

lefthook.yaml:

# Reference:
# https://lefthook.dev/configuration/

pre-push:
  parallel: true
  commands:
    stylelint:
      skip:
        - merge
        - rebase
      glob: '*.{css,scss,sass,vue}'
      run: pnpm exec stylelint -- {push_files}
    eslint:
      skip:
        - merge
        - rebase
      glob: '*.{js,mjs,cjs,jsx,ts,tsx,mts,cts,vue}'
      run: pnpm exec eslint -- {push_files}

commit-msg:
  parallel: true
  commands:
    commitlint:
      skip:
        - merge
        - rebase
      run: pnpm commitlint --edit "$1"

fix: styles
  sandbox/components/SandboxSectionComponent.vue
  sandbox/components/SandboxTitleComponent.vue
Due: stylelint, eslint

fix: button colors
  src/theme/themes/dark.ts
Due: eslint

chore: fix audit issues
  package.json
  pnpm-lock.yaml
Due: none

chore: fix audit issues (#3233)
  package.json
  pnpm-lock.yaml
Due: none

feat: support operator delimiter overrides
  docs/components/filter-group.md
  sandbox/pages/SandboxFilterGroup.vue
  src/components/KFilterGroup/FilterPill.cy.ts
  src/components/KFilterGroup/FilterPill.vue
  src/components/KFilterGroup/FilterSelector.cy.ts
  src/components/KFilterGroup/FilterSelector.vue
  src/types/filter-group.ts
Due: stylelint, eslint

fix: dark mode colors
  src/theme/themes/dark.ts
Due: eslint

test: add tests
  package.json
  pnpm-lock.yaml
  sandbox/index.ts
  sandbox/pages/SandboxTheming.vue
  src/components/KThemeProvider/KThemeProvider.spec.ts
  src/composables/useTheme.spec.ts
  src/theme/applyTheme.spec.ts
  src/theme/contract.spec.ts
  src/theme/defineKongponentsTheme.spec.ts
  src/theme/themeToCssVars.spec.ts
  src/theme/themes/brandA.ts
  src/theme/themes/brandB.ts
  src/theme/themes/index.ts
  vitest.config.ts
Due: stylelint, eslint

test: update assertions
  .github/workflows/test.yaml
  src/components/KThemeProvider/KThemeProvider.spec.ts
  src/composables/useTheme.spec.ts
  src/theme/applyTheme.spec.ts
  vitest.config.ts
Due: eslint

docs: add examples
  docs/guide/theming.md
Due: none

docs: remove future docs
  docs/guide/theming.md
Due: none

feat(poc): themable kongponents with component tokens
  .gitignore
  button-konnect-light-updated.png
  button-sizes-konnect-light.png
  docs/guide/theming.md
  package.json
  sandbox/App.vue
  sandbox/components/SandboxThemePicker.vue
  sandbox/composables/useSandboxTheme.ts
  sandbox/index.html
  sandbox/index.ts
  sandbox/pages/SandboxTheming.vue
  sandbox/router/index.ts
  sandbox/utils/sandboxThemes.ts
  scripts/generate-theme-contract.mjs
  src/components/KBadge/KBadge.vue
  src/components/KButton/KButton.vue
  src/components/KCard/KCard.vue
  src/styles/mixins/_badges.scss
  src/styles/mixins/_buttons.scss
  src/styles/mixins/_cards.scss
  src/styles/mixins/_input-text.scss
  src/theme/applyTheme.spec.ts
  src/theme/applyTheme.ts
  src/theme/component-tokens.ts
  src/theme/contract.ts
  src/theme/index.ts
  src/theme/themeToCssVars.ts
  src/theme/themes/brandA.ts
  src/theme/themes/brandB.ts
  src/theme/themes/index.ts
  src/theme/themes/konnectDark.ts
  src/theme/themes/konnectLight.ts
Due: stylelint, eslint

fix: lint
  sandbox/components/SandboxThemePicker.vue
Due: stylelint, eslint

chore: remove screenshots
  button-konnect-light-updated.png
  button-sizes-konnect-light.png
  src/components/KButton/KButton.vue
Due: stylelint, eslint

chore: comment formatting
  src/components/KThemeProvider/KThemeProvider.spec.ts
  src/composables/useTheme.spec.ts
Due: eslint

docs: update theming docs
  docs/guide/theming.md
Due: none

chore: sandbox theming
  sandbox/pages/SandboxTheming.vue
Due: stylelint, eslint

test: unit and component coverage
  src/components/KThemeProvider/KThemeProvider.spec.ts
  src/composables/useTheme.spec.ts
  src/theme/component-tokens.spec.ts
Due: eslint

refactor: use design-tokens imports
  docs/guide/theming.md
  package.json
  pnpm-lock.yaml
  sandbox/utils/sandboxThemes.ts
  scripts/generate-theme-contract.mjs
  src/theme/component-tokens.spec.ts
  src/theme/component-tokens.ts
  src/theme/contract.spec.ts
  src/theme/contract.ts
  src/theme/index.ts
  src/theme/themeToCssVars.ts
  src/theme/themeable-tokens.spec.ts
  src/theme/themes/brandA.ts
  src/theme/themes/brandB.ts
  src/theme/themes/dark.ts
  src/theme/themes/index.ts
  src/theme/themes/konnectDark.ts
  src/theme/themes/konnectLight.ts
  src/theme/themes/light.ts
  src/types/theme.ts
Due: eslint

fix: lockfile
  pnpm-lock.yaml
Due: none

fix(deps): new stylelint plugin
  .stylelintrc.mjs
  package.json
  pnpm-lock.yaml
Due: eslint

fix(deps): new eslint plugin
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: eslint

fix: alias import path
  docs/vite.config.ts
Due: eslint

fix: lint
  sandbox/pages/SandboxTheming.vue
Due: stylelint, eslint

test: update assertion
  src/components/KThemeProvider/KThemeProvider.cy.ts
Due: eslint

chore: remove button gap tokens
  src/components/KButton/KButton.vue
  src/styles/mixins/_buttons.scss
Due: stylelint, eslint

feat(alert): component tokens
  src/components/KAlert/KAlert.vue
Due: stylelint, eslint

feat: tooltip component tokens
  src/components/KTooltip/KTooltip.vue
Due: stylelint, eslint

feat: label component tokens
  src/styles/mixins/_label.scss
Due: stylelint

feat: select component tokens
  src/components/KMultiselect/KMultiselect.vue
  src/components/KMultiselect/KMultiselectItem.vue
  src/components/KSelect/KSelect.vue
  src/components/KSelect/KSelectItem.vue
  src/styles/mixins/_input-select.scss
Due: stylelint, eslint

feat: checkbox component tokens
  src/components/KCheckbox/KCheckbox.vue
Due: stylelint, eslint

feat: dropdown component tokens
  src/components/KDropdown/KDropdown.vue
  src/components/KDropdown/KDropdownItem.vue
Due: stylelint, eslint

chore: update dependencies for audit fix and renovate security prs
  package.json
  pnpm-lock.yaml
Due: none

chore: update dependencies for audit fix and renovate security prs (#3237)
  package.json
  pnpm-lock.yaml
Due: none

chore: sandbox themes
  sandbox/utils/sandboxThemes.ts
Due: eslint

chore: update package
  package.json
  pnpm-lock.yaml
Due: none

docs: add theme picker
  docs/.vitepress/theme/DocsLayout.vue
  docs/.vitepress/theme/components/DocsThemePicker.vue
  docs/.vitepress/theme/composables/useDocsTheme.ts
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/utils/docsThemes.ts
Due: stylelint, eslint

fix: theme persistence docs site
  docs/.vitepress/theme/components/DocsThemePicker.vue
  docs/.vitepress/theme/composables/useDocsTheme.ts
Due: stylelint, eslint

feat: support operator delimiter overrides (#3232)
  docs/components/filter-group.md
  sandbox/pages/SandboxFilterGroup.vue
  src/components/KFilterGroup/FilterPill.cy.ts
  src/components/KFilterGroup/FilterPill.vue
  src/components/KFilterGroup/FilterSelector.cy.ts
  src/components/KFilterGroup/FilterSelector.vue
  src/types/filter-group.ts
Due: stylelint, eslint
