Repository Kong/kongponents: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint

lefthook.yaml:

# Reference:
# https://lefthook.dev/configuration/

pre-push:
  parallel: true
  commands:
    stylelint:
      skip:
        - merge
        - rebase
      glob: '*.{css,scss,sass,vue}'
      run: pnpm exec stylelint -- {push_files}
    eslint:
      skip:
        - merge
        - rebase
      glob: '*.{js,mjs,cjs,jsx,ts,tsx,mts,cts,vue}'
      run: pnpm exec eslint -- {push_files}

commit-msg:
  parallel: true
  commands:
    commitlint:
      skip:
        - merge
        - rebase
      run: pnpm commitlint --edit "$1"

fix(*): apply token-var-usage stylelint rule
  .stylelintrc.mjs
  package.json
  pnpm-lock.yaml
  src/components/KEmptyState/KEmptyState.vue
  src/components/KSlider/KSlider.vue
  src/components/KTableView/ColumnVisibilityMenu.vue
  src/components/KTreeList/KTreeDraggable.vue
  src/components/KTreeList/KTreeItem.vue
  src/styles/mixins/_input-text.scss
  src/styles/mixins/_tables.scss
Due: stylelint, eslint

chore(deps): bum design-tokens
  package.json
  pnpm-lock.yaml
Due: none

docs: clarify when KDropdown change event fires
  docs/components/dropdown.md
Due: none

Apply suggestion from @adamdehaven
  docs/components/dropdown.md
Due: none

docs: clarify when KDropdown change event fires (#3086)
  docs/components/dropdown.md
Due: none

feat: basic logic rendering, wip
  src/components/KFilterGroup/FilterPill.vue
  src/components/KFilterGroup/FilterSelector.vue
  src/components/KFilterGroup/KFilterGroup.vue
  src/types/filter-group.ts
  src/types/index.ts
Due: stylelint, eslint

chore(release): 9.50.5 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  4bdea2452ea5cb606ccb45963a655903e334d1ac
Due: none

feat: basic component initialization
  docs/.vitepress/config.ts
  docs/components/filter-group.md
  src/components/KFilterGroup/KFilterGroup.cy.ts
  src/components/KFilterGroup/KFilterGroup.vue
  src/components/index.ts
  src/global-components.ts
Due: stylelint, eslint

feat: child component InteractivePill and types
  src/components/KFilterGroup/InteractivePill.cy.ts
  src/components/KFilterGroup/InteractivePill.vue
  src/types/filter-group.ts
  src/types/index.ts
Due: stylelint, eslint

feat: child component FilterSelector
  src/components/KFilterGroup/FilterSelector.cy.ts
  src/components/KFilterGroup/FilterSelector.vue
Due: stylelint, eslint

feat: child component FilterPill
  src/components/KFilterGroup/FilterPill.cy.ts
  src/components/KFilterGroup/FilterPill.vue
Due: stylelint, eslint

feat: basic sandbox page
  sandbox/index.ts
  sandbox/pages/SandboxFilterGroup.vue
  sandbox/router/sandbox-routes.ts
Due: stylelint, eslint

feat: added KFilterGroup basic functionality
  src/components/KFilterGroup/KFilterGroup.cy.ts
  src/components/KFilterGroup/KFilterGroup.vue
Due: stylelint, eslint

fix: address PR comments
  src/components/KFilterGroup/FilterPill.vue
  src/components/KFilterGroup/FilterSelector.vue
  src/components/KFilterGroup/InteractivePill.vue
  src/components/KFilterGroup/KFilterGroup.vue
  src/types/filter-group.ts
Due: stylelint, eslint

fix: var all the tokens
  src/components/KFilterGroup/InteractivePill.vue
  src/components/KFilterGroup/KFilterGroup.vue
Due: stylelint, eslint

test: adjust tests after changes
  src/components/KFilterGroup/FilterSelector.cy.ts
  src/components/KFilterGroup/InteractivePill.vue
  src/components/KFilterGroup/KFilterGroup.vue
Due: stylelint, eslint

fix: no faking design tokens
  src/components/KFilterGroup/InteractivePill.vue
  src/components/KFilterGroup/KFilterGroup.vue
Due: stylelint, eslint

fix(ktoaster): deprecate zindex prop, set z-index on toaster container
  sandbox/pages/SandboxToaster.vue
  src/components/KToaster/KToaster.cy.ts
  src/components/KToaster/KToaster.vue
  src/components/KToaster/ToastManager.cy.ts
  src/components/KToaster/ToastManager.ts
  src/types/toaster.ts
Due: stylelint, eslint

feat: use buttons for clickable things
  src/components/KFilterGroup/InteractivePill.cy.ts
  src/components/KFilterGroup/InteractivePill.vue
Due: stylelint, eslint

fix: required layout for tooltip to work
  src/components/KFilterGroup/InteractivePill.vue
Due: stylelint, eslint

fix: address feedback
  src/components/KFilterGroup/KFilterGroup.vue
  src/types/filter-group.ts
Due: stylelint, eslint

feat: kfiltergroup base functionality [khcp-19485, khcp-19482] (#3092)
  docs/.vitepress/config.ts
  docs/components/filter-group.md
  sandbox/index.ts
  sandbox/pages/SandboxFilterGroup.vue
  sandbox/router/sandbox-routes.ts
  src/components/KFilterGroup/FilterPill.cy.ts
  src/components/KFilterGroup/FilterPill.vue
  src/components/KFilterGroup/FilterSelector.cy.ts
  src/components/KFilterGroup/FilterSelector.vue
  src/components/KFilterGroup/InteractivePill.cy.ts
  src/components/KFilterGroup/InteractivePill.vue
  src/components/KFilterGroup/KFilterGroup.cy.ts
  src/components/KFilterGroup/KFilterGroup.vue
  src/components/index.ts
  src/global-components.ts
  src/types/filter-group.ts
  src/types/index.ts
Due: stylelint, eslint

feat: wip
  sandbox/pages/SandboxFilterGroup.vue
  src/components/KFilterGroup/FilterPill.cy.ts
  src/components/KFilterGroup/FilterPill.vue
  src/components/KFilterGroup/KFilterGroup.vue
  src/components/KMultiselect/KMultiselect.vue
  src/types/filter-group.ts
Due: stylelint, eslint

feat: input, select, multiselect, and custom filters
  sandbox/pages/SandboxFilterGroup.vue
  src/components/KFilterGroup/FilterPill.cy.ts
  src/components/KFilterGroup/FilterPill.vue
  src/components/KFilterGroup/KFilterGroup.cy.ts
  src/components/KFilterGroup/KFilterGroup.vue
  src/components/KMultiselect/KMultiselect.vue
  src/types/filter-group.ts
Due: stylelint, eslint

fix: address feedback round 1
  sandbox/pages/SandboxFilterGroup.vue
  src/components/KFilterGroup/FilterPill.cy.ts
  src/components/KFilterGroup/FilterPill.vue
  src/components/KFilterGroup/FilterSelector.vue
  src/components/KFilterGroup/InteractivePill.vue
  src/components/KFilterGroup/KFilterGroup.cy.ts
  src/components/KFilterGroup/KFilterGroup.vue
  src/types/filter-group.ts
Due: stylelint, eslint

fix: better max-width and comments
  sandbox/pages/SandboxFilterGroup.vue
  src/components/KFilterGroup/FilterPill.vue
  src/components/KFilterGroup/KFilterGroup.vue
  src/types/filter-group.ts
Due: stylelint, eslint

fix: custom slot rendering and operator text
  sandbox/pages/SandboxFilterGroup.vue
  src/components/KFilterGroup/FilterPill.cy.ts
  src/components/KFilterGroup/FilterPill.vue
  src/types/filter-group.ts
Due: stylelint, eslint

fix: revert operators back to text
  src/components/KFilterGroup/FilterPill.vue
Due: stylelint, eslint

feat: KFilterGroup content [KHCP-19483] (#3095)
  sandbox/pages/SandboxFilterGroup.vue
  src/components/KFilterGroup/FilterPill.cy.ts
  src/components/KFilterGroup/FilterPill.vue
  src/components/KFilterGroup/FilterSelector.vue
  src/components/KFilterGroup/InteractivePill.vue
  src/components/KFilterGroup/KFilterGroup.cy.ts
  src/components/KFilterGroup/KFilterGroup.vue
  src/components/KMultiselect/KMultiselect.vue
  src/types/filter-group.ts
Due: stylelint, eslint

fix: data-testid not data-testId
  src/components/KFilterGroup/InteractivePill.vue
Due: stylelint, eslint

fix: remove broken docs so preview can build
  docs/components/filter-group.md
Due: none

docs: added KFilterGroup content
  docs/components/filter-group.md
Due: none

feat: address comments and use kslider for custom demo
  docs/components/filter-group.md
Due: none

chore(release): 9.50.6 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  2ff7dd93c269775b0aae8e2f48742c5776d92927
Due: none

feat(kstepper): step numbers, styles update [KHCP-19677]
  docs/components/stepper.md
  sandbox/pages/SandboxStepper.vue
  src/components/KStepper/KStep.vue
  src/components/KStepper/KStepper.cy.ts
  src/components/KStepper/KStepper.vue
  src/types/stepper.ts
Due: stylelint, eslint

docs(stepper): minor fixes [KHCP-19677]
  docs/.vitepress/theme/index.scss
  docs/components/stepper.md
Due: stylelint

feat: kfiltergroup content [KHCP-19483] (#3095)
  sandbox/pages/SandboxFilterGroup.vue
  src/components/KFilterGroup/FilterPill.cy.ts
  src/components/KFilterGroup/FilterPill.vue
  src/components/KFilterGroup/FilterSelector.vue
  src/components/KFilterGroup/InteractivePill.vue
  src/components/KFilterGroup/KFilterGroup.cy.ts
  src/components/KFilterGroup/KFilterGroup.vue
  src/components/KMultiselect/KMultiselect.vue
  src/types/filter-group.ts
Due: stylelint, eslint
