Repository Kong/kongponents: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint

lefthook.yaml:

# Reference:
# https://lefthook.dev/configuration/

pre-push:
  parallel: true
  commands:
    stylelint:
      skip:
        - merge
        - rebase
      glob: '*.{css,scss,sass,vue}'
      run: pnpm exec stylelint -- {push_files}
    eslint:
      skip:
        - merge
        - rebase
      glob: '*.{js,mjs,cjs,jsx,ts,tsx,mts,cts,vue}'
      run: pnpm exec eslint -- {push_files}

commit-msg:
  parallel: true
  commands:
    commitlint:
      skip:
        - merge
        - rebase
      run: pnpm commitlint --edit "$1"

fix: import path
  docs/vite.config.ts
Due: eslint

chore: update package
  package.json
  pnpm-lock.yaml
Due: none

chore: sandbox [KHCP-20474]
  sandbox/pages/SandboxSlideout.vue
Due: stylelint, eslint

fix: minor fix
  sandbox/pages/SandboxModals.vue
  sandbox/pages/SandboxSlideout.vue
Due: stylelint, eslint

chore: update packages
  package.json
  pnpm-lock.yaml
Due: none

fix(kpop, kmodal, kslideout): teleported kpop z-index [KHCP-20474] (#3276)
  docs/components/popover.md
  sandbox/pages/SandboxModals.vue
  src/components/KModal/KModal.cy.ts
  src/components/KModal/KModal.vue
  src/components/KPop/KPop.cy.ts
  src/components/KPop/KPop.vue
  src/components/KSlideout/KSlideout.cy.ts
  src/components/KSlideout/KSlideout.vue
  src/utilities/injection-keys.ts
Due: stylelint, eslint

chore(release): 9.60.7 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  50687ddcd051722d4de9ffe5faed4149ce0944af
Due: none

docs: kthemeprovider
  docs/.vitepress/config.ts
  docs/components/theme-provider.md
  docs/guide/theming.md
  src/components/KThemeProvider/KThemeProvider.cy.ts
  src/components/KThemeProvider/KThemeProvider.spec.ts
  src/components/KThemeProvider/KThemeProvider.vue
  src/types/theme.ts
Due: stylelint, eslint

refactor: theme rename
  docs/.vitepress/theme/utils/docsThemes.ts
  docs/components/theme-provider.md
  package.json
  pnpm-lock.yaml
  sandbox/utils/sandboxThemes.ts
  src/composables/useTheme.ts
Due: eslint

chore: sandbox dropdown
  sandbox/components/SandboxThemePicker.vue
Due: stylelint, eslint

fix(kcatalog, ktableview): render dynamic toolbar slots [KM-2835]
  src/components/KCatalog/KCatalog.cy.ts
  src/components/KCatalog/KCatalog.vue
  src/components/KTableData/KTableData.cy.ts
  src/components/KTableView/KTableView.cy.ts
  src/components/KTableView/KTableView.vue
Due: stylelint, eslint

fix: cleanup
  src/components/KThemeProvider/KThemeProvider.spec.ts
Due: eslint

test: cleanup
  src/components/KThemeProvider/KThemeProvider.cy.ts
Due: eslint

test: add import
  src/composables/useTheme.spec.ts
Due: eslint

chore: sandbox theme picker selection
  sandbox/components/SandboxThemePicker.vue
Due: stylelint, eslint

chore: sandbox scroll to top
  sandbox/router/index.ts
Due: eslint

fix(netlify): build kongponents before docs
  netlify.toml
Due: none

fix(ktableview): resize handle height frozen as NaNpx on mount [KM-2845]
  src/components/KTableView/KTableView.cy.ts
  src/components/KTableView/KTableView.vue
Due: stylelint, eslint

fix(kcatalog, ktableview): render dynamic toolbar slots [KM-2835] (#3281)
  src/components/KCatalog/KCatalog.cy.ts
  src/components/KCatalog/KCatalog.vue
  src/components/KTableData/KTableData.cy.ts
  src/components/KTableView/KTableView.cy.ts
  src/components/KTableView/KTableView.vue
Due: stylelint, eslint

chore(release): 9.60.8 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  52dfcd5682ee9531532bbe38f1c11a5f915e89ec
Due: none

fix(ktableview): address review feedback on resize handle height fix [KM-2845]
  src/components/KTableView/KTableView.cy.ts
  src/components/KTableView/KTableView.vue
Due: stylelint, eslint

test(ktableview): drop unnecessary existence check in resize handle test [KM-2845]
  src/components/KTableView/KTableView.cy.ts
Due: eslint

fix: feedback
  docs/.vitepress/theme/_variables.scss
  src/composables/useTheme.spec.ts
  src/composables/useTheme.ts
  src/types/theme.ts
Due: stylelint, eslint

chore: remove unneeded tokens
  src/components/KMultiselect/KMultiselect.vue
  src/components/KSelect/KSelect.vue
Due: stylelint, eslint

fix(deps): bump design-tokens preview
  package.json
  pnpm-lock.yaml
Due: none

chore: package update
  package.json
  pnpm-lock.yaml
Due: none

fix(tests): uses deterministic dates for KDatePicker tests
  package.json
  src/components/KDateTimePicker/KDateTimePicker.cy.ts
Due: eslint

fix: calendar only tries to reset times when appropriate
  src/components/KDateTimePicker/CalendarWrapper.vue
  src/components/KDateTimePicker/KDateTimePicker.cy.ts
Due: stylelint, eslint

fix: calendar only tries to reset times when appropriate (#3283)
  src/components/KDateTimePicker/CalendarWrapper.vue
  src/components/KDateTimePicker/KDateTimePicker.cy.ts
Due: stylelint, eslint

chore(release): 9.60.9 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  4de019b983b32f5fd1d49172af4065606af280de
Due: none

fix(ktableview): resize handle NaN height on mount [KM-2845] (#3282)
  src/components/KTableView/KTableView.cy.ts
  src/components/KTableView/KTableView.vue
Due: stylelint, eslint

chore(release): 9.60.10 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  49f0d6a199a4c8855d13801c6578113ea8c40b26
Due: none
