Repository Kong/kongponents: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint

lefthook.yaml:

# Reference:
# https://lefthook.dev/configuration/

pre-push:
  parallel: true
  commands:
    stylelint:
      skip:
        - merge
        - rebase
      glob: '*.{css,scss,sass,vue}'
      run: pnpm exec stylelint -- {push_files}
    eslint:
      skip:
        - merge
        - rebase
      glob: '*.{js,mjs,cjs,jsx,ts,tsx,mts,cts,vue}'
      run: pnpm exec eslint -- {push_files}

commit-msg:
  parallel: true
  commands:
    commitlint:
      skip:
        - merge
        - rebase
      run: pnpm commitlint --edit "$1"

chore: update packages
  package.json
  pnpm-lock.yaml
Due: none

feat: update packages
  package.json
  pnpm-lock.yaml
Due: none

fix(kcodeblock): remove theme prop
  src/components/KCodeBlock/KCodeBlock.vue
  src/types/code-block.ts
Due: stylelint, eslint

test(kcodeblock): component tests
  src/components/KCodeBlock/KCodeBlock.cy.ts
Due: eslint

fix: minor fix
  docs/.vitepress/theme/components/DocsThemePicker.vue
  sandbox/App.vue
  sandbox/pages/SandboxCodeBlock.vue
Due: stylelint, eslint

fix: minor fix
  src/components/KCodeBlock/KCodeBlockIconButton.vue
Due: stylelint, eslint

feat(kfiltergroup): add selectAttributes/multiselectAttributes/inputAttributes to Filter (RFC)
  docs/components/filter-group.md
  sandbox/pages/SandboxFilterGroup.vue
  src/components/KFilterGroup/FilterPill.cy.ts
  src/components/KFilterGroup/FilterPill.vue
  src/types/filter-group.ts
Due: stylelint, eslint

feat(kfiltergroup): expose scoped slot props for custom filter content [KM-2898]
  docs/components/filter-group.md
  sandbox/pages/SandboxFilterGroup.vue
  src/components/KFilterGroup/FilterPill.cy.ts
  src/components/KFilterGroup/FilterPill.vue
  src/components/KFilterGroup/KFilterGroup.cy.ts
  src/components/KFilterGroup/KFilterGroup.vue
  src/types/filter-group.ts
Due: stylelint, eslint

chore(deps): bump design-tokens
  package.json
  pnpm-lock.yaml
Due: none

fix: minor fix
  .github/workflows/publish.yaml
  src/components/KCodeBlock/KCodeBlock.vue
Due: stylelint, eslint

feat(kfiltergroup): expose pending text on the custom filter slot props
  docs/components/filter-group.md
  src/components/KFilterGroup/FilterPill.cy.ts
  src/components/KFilterGroup/FilterPill.vue
  src/types/filter-group.ts
Due: stylelint, eslint

docs(codeblock): remove theme prop
  docs/components/codeblock.md
  sandbox/pages/SandboxCodeBlock.vue
Due: stylelint, eslint

fix: minor fix
  docs/components/codeblock.md
Due: none

chore: remove sandbox option
  sandbox/pages/SandboxTheming.vue
  vite.config.ts
Due: stylelint, eslint

chore(release): 9.61.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  41eacafeab9a15095d9299267e3ea06b65a5b843
Due: none

fix: style export filename
  vite.config.ts
Due: eslint

fix: style file name
  vite.config.ts
Due: eslint

fix: style export filename (#3289)
  vite.config.ts
Due: eslint

fix: trigger release
  src/index.ts
Due: eslint

chore(release): 9.61.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  a2c2b8c347d0fd0b1cf0012ce4cf267d84f646b9
Due: none

fix: re-evaluate cached slot-presence checks on every render
  src/components/KCard/KCard.cy.ts
  src/components/KCard/KCard.vue
  src/components/KCheckbox/KCheckbox.cy.ts
  src/components/KCheckbox/KCheckbox.vue
  src/components/KCollapse/KCollapse.cy.ts
  src/components/KCollapse/KCollapse.vue
  src/components/KEmptyState/KEmptyState.cy.ts
  src/components/KEmptyState/KEmptyState.vue
  src/components/KFileUpload/KFileUpload.cy.ts
  src/components/KFileUpload/KFileUpload.vue
  src/components/KInput/KInput.cy.ts
  src/components/KInput/KInput.vue
  src/components/KLabel/KLabel.cy.ts
  src/components/KLabel/KLabel.vue
  src/components/KModal/KModal.cy.ts
  src/components/KModal/KModal.vue
  src/components/KMultiselect/KMultiselect.cy.ts
  src/components/KMultiselect/KMultiselect.vue
  src/components/KRadio/KRadio.cy.ts
  src/components/KRadio/KRadio.vue
  src/components/KSelect/KSelect.cy.ts
  src/components/KSelect/KSelect.vue
  src/components/KTable/KTable.cy.ts
  src/components/KTable/KTable.vue
  src/components/KTextArea/KTextArea.cy.ts
  src/components/KTextArea/KTextArea.vue
  src/components/KTooltip/KTooltip.cy.ts
  src/components/KTooltip/KTooltip.vue
  src/components/KTreeList/KTreeItem.vue
  src/components/KTreeList/KTreeList.cy.ts
Due: stylelint, eslint

revert: not fix deprecated KTable
  src/components/KTable/KTable.cy.ts
  src/components/KTable/KTable.vue
Due: stylelint, eslint

fix: update dropdown-footer-text check
  src/components/KMultiselect/KMultiselect.vue
  src/components/KSelect/KSelect.vue
Due: stylelint, eslint

feat(kcodeblock): remove theme prop [KHCP-21211]
  docs/components/codeblock.md
  sandbox/pages/SandboxCodeBlock.vue
  sandbox/pages/SandboxEmptyState.vue
  sandbox/utils/shiki.ts
  src/components/KCodeBlock/KCodeBlock.cy.ts
  src/components/KCodeBlock/KCodeBlock.vue
  src/components/KCodeBlock/KCodeBlockIconButton.vue
  src/types/code-block.ts
Due: stylelint, eslint

fix: stylelint:fix
  sandbox/pages/SandboxEmptyState.vue
Due: stylelint, eslint

fix: dark mode colors
  src/components/KSelect/KSelectItem.vue
Due: stylelint, eslint

fix: design tokens
  package.json
  pnpm-lock.yaml
Due: none

fix(deps): update theme colors
  package.json
  pnpm-lock.yaml
Due: none

fix: kselect hover color and theme tokens (#3293)
  package.json
  pnpm-lock.yaml
  src/components/KSelect/KSelectItem.vue
Due: stylelint, eslint

chore(release): 9.61.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  aa5d614d5204fbed18391eb4c314456683842644
Due: none

fix(types): add new component type
  src/global-components.ts
Due: eslint

fix(types): add new component type (#3294)
  src/global-components.ts
Due: eslint

chore(release): 9.61.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  6ac091e59d88b0bb8c84a4eff4ebdb5ed7ead0aa
Due: none
