Repository Kong/kongponents: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint

lefthook.yaml:

# Reference:
# https://lefthook.dev/configuration/

pre-push:
  parallel: true
  commands:
    stylelint:
      skip:
        - merge
        - rebase
      glob: '*.{css,scss,sass,vue}'
      run: pnpm exec stylelint -- {push_files}
    eslint:
      skip:
        - merge
        - rebase
      glob: '*.{js,mjs,cjs,jsx,ts,tsx,mts,cts,vue}'
      run: pnpm exec eslint -- {push_files}

commit-msg:
  parallel: true
  commands:
    commitlint:
      skip:
        - merge
        - rebase
      run: pnpm commitlint --edit "$1"

chore(release): 9.46.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  105b6f20dcfe6c56b1be3bc5e0e9400f72f68a1d
Due: none

fix(kdatetimepicker): support seconds granularity in time inputs
  docs/components/datetime-picker.md
  sandbox/pages/SandboxDateTimePicker.vue
  src/components/KDateTimePicker/CalendarWrapper.vue
  src/components/KDateTimePicker/KDateTimePicker.cy.ts
  src/components/KDateTimePicker/KDateTimePicker.vue
  src/types/date-time-picker.ts
Due: stylelint, eslint

fix: comments
  src/components/KDateTimePicker/KDateTimePicker.vue
Due: stylelint, eslint

fix: comments
  src/components/KDateTimePicker/CalendarWrapper.vue
Due: stylelint, eslint

fix: comments
  src/components/KDateTimePicker/KDateTimePicker.cy.ts
  src/components/KDateTimePicker/KDateTimePicker.vue
Due: stylelint, eslint

fix: do not include seconds in time format when minutely cause firefox
  src/components/KDateTimePicker/CalendarWrapper.vue
  src/components/KDateTimePicker/KDateTimePicker.cy.ts
Due: stylelint, eslint

fix(toast-manager): prevent creating duplicate containers [KHCP-18535]
  src/components/KToaster/ToastManager.ts
Due: eslint

fix: minor fix
  src/components/KToaster/ToastManager.ts
Due: eslint

test(ktoaster): add unit tests [KHCP-18535]
  package.json
  pnpm-lock.yaml
  src/components/KToaster/ToastManager.spec.ts
  src/components/KToaster/ToastManager.ts
  vitest.config.js
Due: eslint

ci: add unit tests [KHCP-18535]
  .github/workflows/test.yaml
  package.json
Due: none

test(ktoaster): tweak test [KHCP-18535]
  src/components/KToaster/ToastManager.spec.ts
Due: eslint

test: minor fix [KHCP-18535]
  src/components/KToaster/ToastManager.spec.ts
Due: eslint

chore(release): 9.46.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  bd7255cecb9c8c0618e4885f09af09dbac240aeb
Due: none

test: minor tweak [KHCP-18535]
  .github/workflows/test.yaml
Due: none

ci: read contents permission
  .github/workflows/test.yaml
Due: none

fix: comments
  sandbox/pages/SandboxDateTimePicker.vue
Due: stylelint, eslint

test(ktoaster): use cypress for unit tests [KHCP-18535]
  .github/workflows/test.yaml
  package.json
  src/components/KToaster/ToastManager.cy.ts
  vitest.config.js
Due: eslint

chore: update lockfile
  package.json
  pnpm-lock.yaml
Due: none

ci: undo job rename [KHCP-18535]
  .github/workflows/test.yaml
Due: none

fix(deps): upgrade dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(stylelint): deprecated rule
  src/components/KAlert/KAlert.vue
  src/components/KCatalog/KCatalog.vue
  src/styles/mixins/_input-text.scss
  src/styles/mixins/_tables.scss
Due: stylelint, eslint

fix(kdatetimepicker): support seconds granularity in time inputs (#2976)
  docs/components/datetime-picker.md
  sandbox/pages/SandboxDateTimePicker.vue
  src/components/KDateTimePicker/CalendarWrapper.vue
  src/components/KDateTimePicker/KDateTimePicker.cy.ts
  src/components/KDateTimePicker/KDateTimePicker.vue
  src/types/date-time-picker.ts
Due: stylelint, eslint

chore(netlify): use node 24.11.0 [KHCP-18535]
  netlify.toml
Due: none

chore(release): 9.46.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  445f7c136dcc3f8a62966f6ac176f816f5d557dd
Due: none

chore(netlify): undo node version change [KHCP-18535]
  netlify.toml
Due: none

fix(vite): disable preserveModules for sandbox
  vite.config.ts
Due: eslint

chore: add comment
  vite.config.ts
Due: eslint

chore: update comment
  nuxt/index.ts
Due: eslint

fix: display timezone for relative time ranges
  src/components/KDateTimePicker/KDateTimePicker.vue
Due: stylelint, eslint

feat: include nuxt directory in changed files check
  .github/workflows/get-changed-files.yaml
Due: none

fix(ktableview): update table preferences parameters
  src/components/KTableView/KTableView.cy.ts
  src/components/KTableView/KTableView.vue
Due: stylelint, eslint

fix(vite): disable preserveModules for sandbox (#2982)
  .github/workflows/get-changed-files.yaml
  nuxt/index.ts
  vite.config.ts
Due: eslint

chore(release): 9.46.4 [skip ci]
  CHANGELOG.md
  package.json
Due: none
