Repository Kong/kongponents: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint

stylelint:
  skip:
  - merge
  - rebase
  run: pnpm exec stylelint -- {push_files}

eslint:
  skip:
  - merge
  - rebase
  run: pnpm exec eslint -- {push_files}

test: add component test
  src/components/KMultiselect/KMultiselect.cy.ts
Due: eslint

fix(kmultiselect): ensure selected item order is preserved
  src/components/KMultiselect/KMultiselect.cy.ts
  src/components/KMultiselect/KMultiselect.vue
Due: stylelint, eslint

fix: lint
  src/components/KMultiselect/KMultiselect.cy.ts
  src/components/KMultiselect/KMultiselect.vue
Due: stylelint, eslint

refactor: test wait
  src/components/KMultiselect/KMultiselect.cy.ts
Due: eslint

test: fix wait
  src/components/KMultiselect/KMultiselect.cy.ts
Due: eslint

fix(kmultiselect): reactive selected item width (#3347)
  src/components/KMultiselect/KMultiselect.cy.ts
  src/components/KMultiselect/KMultiselect.vue
Due: stylelint, eslint

chore(release): 9.64.6 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  a1dd8a24a0bce542a6352ebe3a330169fcb2a58a
Due: none

fix(kradio): reset card label margin (#3323)
  src/components/KRadio/KRadio.vue
Due: stylelint, eslint

chore(release): 9.64.7 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  11fa822cf5cc54c5128c299b1dc53f602a1df636
Due: none

fix(kcopy): truncate when the root cannot shrink
  src/components/KCopy/KCopy.cy.ts
  src/components/KCopy/KCopy.vue
Due: stylelint, eslint

ci: setup vitest browser component tests [KHCP-21503]
  .github/actions/setup-pnpm-with-dependencies/action.yaml
  .github/workflows/test.yaml
  .gitignore
  package.json
  pnpm-lock.yaml
  src/components/KBadge/KBadge.spec.ts
  test/setup.ts
  test/tsconfig.json
  test/utils.ts
  test/vue-router-prod.d.ts
  tsconfig.build.json
  tsconfig.json
  vitest.config.ts
Due: eslint

fix(ktabs): minimal appearance horizontal overflow
  src/components/KTabs/KTabs.vue
Due: stylelint, eslint

fix: minor fix
  src/components/KTabs/KTabs.vue
Due: stylelint, eslint

fix: address pr feedback
  .github/workflows/test.yaml
  cypress/tsconfig.json
  package.json
  src/components/KBadge/KBadge.spec.ts
  test/setup.ts
  test/tsconfig.json
  test/utils.ts
  test/vue-router-prod.d.ts
  tsconfig.build.json
  tsconfig.json
  vitest.config.ts
Due: eslint

fix: address pr feedback
  .github/workflows/test.yaml
  package.json
  vitest.config.ts
Due: eslint

fix: address pr feedback
  .github/workflows/test.yaml
  vitest.config.ts
Due: eslint

fix(ktabs): minimal appearance horizontal overflow (#3351)
  src/components/KTabs/KTabs.vue
Due: stylelint, eslint

chore(release): 9.64.8 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  2d4d9302b963dbc7c6809179a55a7907ac884a4b
Due: none

fix: address pr feedback
  .github/actions/setup-pnpm-with-dependencies/action.yaml
  .github/workflows/test.yaml
  package.json
  test/utils.ts
  vitest.config.ts
Due: eslint

fix: address pr feedback
  cypress/tsconfig.json
  tsconfig.build.json
  tsconfig.json
Due: none

fix: address pr feedback
  src/components/KBadge/KBadge.browser.spec.ts
  vitest.config.ts
Due: eslint

chore: pnpm audit fix
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: pnpm audit fix (#3352)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

test: typecheck [KHCP-21503]
  test/utils.ts
Due: eslint

fix: address pr feedback
  .github/workflows/test.yaml
Due: none

fix: address pr feedback
  .gitignore
Due: none

fix: address pr feedback
  cypress/tsconfig.json
  src/components/KBadge/KBadge.browser.spec.ts
  test/utils.ts
  test/vue-router-prod.d.ts
Due: eslint

fix: minor fix
  tsconfig.json
Due: none

fix: ts
  tsconfig.json
Due: none

fix: minor fix
  src/components/KBadge/KBadge.browser.spec.ts
  vitest.config.ts
Due: eslint

fix: minor fix
  .gitignore
  test/setup.ts
Due: eslint

refactor(kmultiselect): use VueClamp for badge overflow
  package.json
  pnpm-lock.yaml
  src/components/KMultiselect/KMultiselect.cy.ts
  src/components/KMultiselect/KMultiselect.vue
Due: stylelint, eslint

ci: suppress output
  .github/workflows/test.yaml
Due: none

fix: bumping pr-audit action [KHCP-21463]
  .github/pull_request_template.md
  .github/workflows/pr-audit.yaml
Due: none

ci: setup vitest browser component tests [KHCP-21503] (#3350)
  .github/workflows/test.yaml
  .gitignore
  package.json
  pnpm-lock.yaml
  src/components/KBadge/KBadge.browser.spec.ts
  test/setup.ts
  tsconfig.build.json
  tsconfig.json
  vitest.config.ts
Due: eslint

chore(ci): bumping pr-audit action [KHCP-21463] (#3355)
  .github/pull_request_template.md
  .github/workflows/pr-audit.yaml
Due: none

Path conditions:
  stylelint: any of: *.{css,scss,sass,vue}
  eslint: any of: *.{js,mjs,cjs,jsx,ts,tsx,mts,cts,vue}
