Repository Kong/kongponents: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint

stylelint:
  skip:
  - merge
  - rebase
  run: pnpm exec stylelint -- {push_files}

eslint:
  skip:
  - merge
  - rebase
  run: pnpm exec eslint -- {push_files}

fix: re-evaluate cached slot-presence checks on every render (#3290)
  src/components/KCard/KCard.cy.ts
  src/components/KCard/KCard.vue
  src/components/KCheckbox/KCheckbox.cy.ts
  src/components/KCheckbox/KCheckbox.vue
  src/components/KCollapse/KCollapse.cy.ts
  src/components/KCollapse/KCollapse.vue
  src/components/KEmptyState/KEmptyState.cy.ts
  src/components/KEmptyState/KEmptyState.vue
  src/components/KFileUpload/KFileUpload.cy.ts
  src/components/KFileUpload/KFileUpload.vue
  src/components/KInput/KInput.cy.ts
  src/components/KInput/KInput.vue
  src/components/KLabel/KLabel.cy.ts
  src/components/KLabel/KLabel.vue
  src/components/KModal/KModal.cy.ts
  src/components/KModal/KModal.vue
  src/components/KMultiselect/KMultiselect.cy.ts
  src/components/KMultiselect/KMultiselect.vue
  src/components/KRadio/KRadio.cy.ts
  src/components/KRadio/KRadio.vue
  src/components/KSelect/KSelect.cy.ts
  src/components/KSelect/KSelect.vue
  src/components/KTextArea/KTextArea.cy.ts
  src/components/KTextArea/KTextArea.vue
  src/components/KTooltip/KTooltip.cy.ts
  src/components/KTooltip/KTooltip.vue
  src/components/KTreeList/KTreeItem.vue
  src/components/KTreeList/KTreeList.cy.ts
Due: stylelint, eslint

chore(release): 9.61.4 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  c0bc1c940771395a3839f464e33a3c7345c348b1
Due: none

fix: classic night text inverse color
  package.json
  pnpm-lock.yaml
Due: none

fix: classic night text inverse color (#3295)
  package.json
  pnpm-lock.yaml
Due: none

chore(release): 9.61.5 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  b066a2a303000428853437d29d47dbf43356346f
Due: none

feat(kfiltergroup): address review feedback on custom filter slot props
  docs/components/filter-group.md
  src/components/KFilterGroup/FilterPill.cy.ts
  src/components/KFilterGroup/FilterPill.vue
  src/types/filter-group.ts
Due: stylelint, eslint

fix: pin transitive dependency overrides to patch audit vulnerabilities
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: pin transitive dependency overrides to patch audit vulnerabilities (#3301)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(release): 9.61.6 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  0fb8a04e010089e3de7d9e2435ffb856246ca80c
Due: none

fix(kfiltergroup): flip setApplyState semantics to enabled and fix inverted disabled check
  docs/components/filter-group.md
  src/components/KFilterGroup/FilterPill.cy.ts
  src/components/KFilterGroup/FilterPill.vue
  src/types/filter-group.ts
Due: stylelint, eslint

fix(ktableview): slotted link default styles
  sandbox/pages/SandboxTableData.vue
  sandbox/pages/SandboxTableView/SandboxTableView.vue
  src/components/KExternalLink/KExternalLink.vue
  src/styles/_mixins.scss
  src/styles/mixins/_links.scss
  src/styles/mixins/_tables.scss
Due: stylelint, eslint

fix: address pr feedback
  src/components/KExternalLink/KExternalLink.vue
  src/styles/mixins/_links.scss
Due: stylelint, eslint

fix: minor fix
  sandbox/pages/SandboxTableData.vue
  sandbox/pages/SandboxTableView/SandboxTableView.vue
Due: stylelint, eslint

fix(ktableview): slotted link default styles (#3302)
  sandbox/pages/SandboxTableData.vue
  sandbox/pages/SandboxTableView/SandboxTableView.vue
  src/components/KExternalLink/KExternalLink.vue
  src/styles/_mixins.scss
  src/styles/mixins/_links.scss
  src/styles/mixins/_tables.scss
Due: stylelint, eslint

chore(release): 9.61.7 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  a2284c99127b6fc3affa6279985d0c286946e577
Due: none

fix(kexternallink): add transition
  src/styles/mixins/_links.scss
Due: stylelint

fix: use var
  src/styles/mixins/_links.scss
Due: stylelint

fix: import vars
  src/styles/mixins/_links.scss
Due: stylelint

fix(kexternallink): add transition (#3303)
  src/styles/mixins/_links.scss
Due: stylelint

chore(release): 9.61.8 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  b8e66be67ce5812ecbbf7118ff9d2e9c0c39a704
Due: none

feat(kfiltergroup): expose scoped slot props for custom filter content (#3288)
  docs/components/filter-group.md
  sandbox/pages/SandboxFilterGroup.vue
  src/components/KFilterGroup/FilterPill.cy.ts
  src/components/KFilterGroup/FilterPill.vue
  src/components/KFilterGroup/KFilterGroup.cy.ts
  src/components/KFilterGroup/KFilterGroup.vue
  src/types/filter-group.ts
Due: stylelint, eslint

chore(release): 9.62.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  9e7540665673c079ffe731817873d443d9b92099
Due: none

fix(kselect, kmultiselect): new dropdown footer slot [KHCP-21063]
  docs/components/multiselect.md
  docs/components/select.md
  sandbox/pages/SandboxMultiselect.vue
  sandbox/pages/SandboxSelect.vue
  src/components/KMultiselect/KMultiselect.cy.ts
  src/components/KMultiselect/KMultiselect.vue
  src/components/KSelect/KSelect.cy.ts
  src/components/KSelect/KSelect.vue
  src/types/multi-select.ts
  src/types/select.ts
Due: stylelint, eslint

fix: address pr feedback
  src/components/KMultiselect/KMultiselect.cy.ts
  src/components/KSelect/KSelect.cy.ts
Due: eslint

chore: pnpm audit fix
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: pnpm audit fix (#3305)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: address pr feedback
  src/components/KMultiselect/KMultiselect.vue
  src/components/KSelect/KSelect.vue
Due: stylelint, eslint

chore: pnpm audit fix
  pnpm-workspace.yaml
Due: none

Path conditions:
  stylelint: any of: *.{css,scss,sass,vue}
  eslint: any of: *.{js,mjs,cjs,jsx,ts,tsx,mts,cts,vue}
