Repository Kong/kongponents: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint

stylelint:
  skip:
  - merge
  - rebase
  run: pnpm exec stylelint -- {push_files}

eslint:
  skip:
  - merge
  - rebase
  run: pnpm exec eslint -- {push_files}

chore(deps): merge overlapping brace-expansion overrides into one entry
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

ci(ksai): start a KSAI run only for people who can write to the repository
  .github/workflows/ksai.yaml
Due: none

ci(ksai): start a KSAI run only for people who can write to the repository (#3459)
  .github/workflows/ksai.yaml
Due: none

ci: block ci if do not merge label is present
  .github/workflows/check-labels.yaml
Due: none

ci: block ci if do not merge label is present (#3460)
  .github/workflows/check-labels.yaml
Due: none

fix(deps): resolve pnpm audit high vulnerabilities [KHCP-22033]
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(deps): resolve pnpm audit high vulnerabilities [KHCP-22033] (#3455)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(release): 9.64.24 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  611a168e7b29a85deb223bada71161e4007ce6aa
Due: none

feat(mcp): add kongponents documentation server [KHCP-21913]
  .github/workflows/get-changed-files.yaml
  .github/workflows/publish.yaml
  .github/workflows/test.yaml
  docs/.vitepress/config.ts
  docs/guide/mcp-server.md
  docs/plans/mcp-server.md
  mcp/build.ts
  mcp/catalog.ts
  mcp/generate-snapshot.ts
  mcp/lib/catalog.ts
  mcp/lib/search.ts
  mcp/server.spec.ts
  mcp/server.ts
  mcp/stdio.ts
  mcp/tools.spec.ts
  mcp/tools.ts
  mcp/tsconfig.json
  mcp/types.ts
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: eslint

fix(mcp): address review feedback [KHCP-21913]
  docs/guide/mcp-server.md
  docs/plans/mcp-server.md
  mcp/catalog.spec.ts
  mcp/catalog.ts
  mcp/generate-snapshot.ts
  mcp/lib/markdown.spec.ts
  mcp/lib/markdown.ts
  mcp/server.ts
  mcp/tools.spec.ts
  mcp/tools.ts
  mcp/types.ts
Due: eslint

feat(mcp): added files [KHCP-21913]
  mcp/lib/markdown.spec.ts
  mcp/lib/markdown.ts
Due: eslint

fix(mcp): align implementation with review feedback [KHCP-21913]
  .github/workflows/test.yaml
  docs/.vitepress/config.ts
  docs/guide/mcp-server.md
  docs/plans/mcp-server.md
  mcp/generate-snapshot.ts
  mcp/server.spec.ts
  mcp/server.ts
  mcp/tools.spec.ts
  mcp/tools.ts
  mcp/types.ts
  package.json
  vitest.config.ts
Due: eslint

docs(mcp): add cursor, zed, and web-storm setup guides [KHCP-21913]
  docs/guide/mcp-server.md
Due: none

feat(mcp): add token-efficient component documentation tools [KHCP-21913]
  docs/guide/mcp-server.md
  docs/plans/mcp-server.md
  mcp/server.spec.ts
  mcp/server.ts
  mcp/tools.spec.ts
  mcp/tools.ts
Due: eslint

test(mcp): add packaged executable coverage [KHCP-21913]
  .github/workflows/get-changed-files.yaml
  mcp/package.spec.ts
  mcp/test-global-setup.ts
  vitest.config.ts
Due: eslint

fix(kcopy): copy button focus visible styles
  src/components/KCopy/KCopy.vue
Due: stylelint, eslint

fix(mcp): run pnpm test commands on Windows
  mcp/package.spec.ts
  mcp/test-global-setup.ts
Due: eslint

fix(mcp): launch packaged test with Node on Windows
  mcp/package.spec.ts
Due: eslint

fix(kcopy): copy button focus visible styles (#3462)
  src/components/KCopy/KCopy.vue
Due: stylelint, eslint

chore(release): 9.64.25 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  53a3b8fa17c40f5569cc811ffc1256fcd3dbc89d
Due: none

feat(kcodeblock): add actions slot [KM-3400]
  docs/components/codeblock.md
  sandbox/pages/SandboxCodeBlock.vue
  src/components/KCodeBlock/KCodeBlock.browser.spec.ts
  src/components/KCodeBlock/KCodeBlock.vue
  src/types/code-block.ts
Due: stylelint, eslint

fix(kcodeblock): read actions slot presence at render time [KM-3400]
  src/components/KCodeBlock/KCodeBlock.browser.spec.ts
  src/components/KCodeBlock/KCodeBlock.vue
Due: stylelint, eslint

fix(kcodeblock): treat empty actions slot as not replacing search [KM-3400]
  src/components/KCodeBlock/KCodeBlock.browser.spec.ts
  src/components/KCodeBlock/KCodeBlock.vue
Due: stylelint, eslint

Path conditions:
  stylelint: any of: *.{css,scss,sass,vue}
  eslint: any of: *.{js,mjs,cjs,jsx,ts,tsx,mts,cts,vue}
