Repository Kong/kongponents: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint

lefthook.yaml:

# Reference:
# https://lefthook.dev/configuration/

pre-push:
  parallel: true
  commands:
    stylelint:
      skip:
        - merge
        - rebase
      glob: '*.{css,scss,sass,vue}'
      run: pnpm exec stylelint -- {push_files}
    eslint:
      skip:
        - merge
        - rebase
      glob: '*.{js,mjs,cjs,jsx,ts,tsx,mts,cts,vue}'
      run: pnpm exec eslint -- {push_files}

commit-msg:
  parallel: true
  commands:
    commitlint:
      skip:
        - merge
        - rebase
      run: pnpm commitlint --edit "$1"

chore: pnpm audit fix (#3310)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(kselect, kmultiselect): new dropdown footer slot [KHCP-21063] (#3304)
  docs/components/multiselect.md
  docs/components/select.md
  sandbox/pages/SandboxMultiselect.vue
  sandbox/pages/SandboxSelect.vue
  src/components/KMultiselect/KMultiselect.cy.ts
  src/components/KMultiselect/KMultiselect.vue
  src/components/KSelect/KSelect.cy.ts
  src/components/KSelect/KSelect.vue
  src/types/multi-select.ts
  src/types/select.ts
Due: stylelint, eslint

chore(release): 9.62.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  ea802424f64409711d8975e99a4aee8dd926f19e
Due: none

fix(deps): bump design-tokens [KHCP-21211]
  package.json
  pnpm-lock.yaml
Due: none

fix: minor fix
  src/components/KCodeBlock/KCodeBlock.vue
Due: stylelint, eslint

fix: address pr feedback
  sandbox/pages/SandboxCodeBlock.vue
  sandbox/utils/shiki.ts
Due: stylelint, eslint

fix: address pr feedback
  src/components/KCodeBlock/KCodeBlock.vue
Due: stylelint, eslint

feat(kcodeblock): remove theme prop [KHCP-21211] (#3292)
  docs/components/codeblock.md
  package.json
  pnpm-lock.yaml
  sandbox/pages/SandboxCodeBlock.vue
  sandbox/pages/SandboxEmptyState.vue
  sandbox/utils/shiki.ts
  src/components/KCodeBlock/KCodeBlock.cy.ts
  src/components/KCodeBlock/KCodeBlock.vue
  src/components/KCodeBlock/KCodeBlockIconButton.vue
  src/types/code-block.ts
Due: stylelint, eslint

chore(release): 9.63.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  e8206a3dd3106a510a9f4d95773ea1aa850e92c0
Due: none

fix: stabilize v-bind() css variable names across releases
  vite.config.ts
Due: eslint

chore: trigger preview package build (temporary, revert before merge)
  src/index.ts
Due: eslint

chore(deps): bump design-tokens
  package.json
  pnpm-lock.yaml
Due: none

feat: component token fixes
  src/components/KInputSwitch/KInputSwitch.vue
Due: stylelint, eslint

feat: update design tokens
  package.json
  pnpm-lock.yaml
Due: none

fix(kmultiselect): preserve model value order
  docs/components/multiselect.md
  sandbox/pages/SandboxMultiselect.vue
  src/components/KMultiselect/KMultiselect.cy.ts
  src/components/KMultiselect/KMultiselect.vue
Due: stylelint, eslint

fix: upgrade package
  package.json
  pnpm-lock.yaml
  src/components/KInputSwitch/KInputSwitch.vue
Due: stylelint, eslint

fix: disabled tokens
  package.json
  pnpm-lock.yaml
  src/components/KRadio/KRadio.vue
Due: stylelint, eslint

chore: update preview
  package.json
  pnpm-lock.yaml
Due: none

fix(deps): update design-tokens
  package.json
  pnpm-lock.yaml
Due: none

feat: component token fixes and additions (#3313)
  package.json
  pnpm-lock.yaml
  src/components/KInputSwitch/KInputSwitch.vue
  src/components/KRadio/KRadio.vue
Due: stylelint, eslint

chore(release): 9.64.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  9db0d956b083342967916ae7b5d5ba4870f016c4
Due: none

fix(kmultiselect): avoid redundant selection staging
  docs/components/multiselect.md
  src/components/KMultiselect/KMultiselect.vue
Due: stylelint, eslint

fix(kmultiselect): reflect modelValue order in selectedItem badges (#3314)
  docs/components/multiselect.md
  sandbox/pages/SandboxMultiselect.vue
  src/components/KMultiselect/KMultiselect.cy.ts
  src/components/KMultiselect/KMultiselect.vue
Due: stylelint, eslint

chore(release): 9.64.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  f690df6a9b64cf9593ef3499931e513ff786648a
Due: none

fix: sandbox high contrast
  docs/.vitepress/theme/utils/docsThemes.ts
  package.json
  pnpm-lock.yaml
  sandbox/utils/sandboxThemes.ts
Due: eslint

fix: sandbox high contrast (#3315)
  docs/.vitepress/theme/utils/docsThemes.ts
  package.json
  pnpm-lock.yaml
  sandbox/utils/sandboxThemes.ts
Due: eslint

chore(release): 9.64.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  f69c75b62e711f78a560ea6c3ca3b8336145316e
Due: none

fix: theme order
  docs/.vitepress/theme/utils/docsThemes.ts
  sandbox/utils/sandboxThemes.ts
Due: eslint

fix: theme order (#3316)
  docs/.vitepress/theme/utils/docsThemes.ts
  sandbox/utils/sandboxThemes.ts
Due: eslint

feat: expose label slot on KInput, KTextArea, KSelect, KMultiselect, KFileUpload, KSlider
  docs/components/file-upload.md
  docs/components/input.md
  docs/components/multiselect.md
  docs/components/select.md
  docs/components/slider.md
  docs/components/textarea.md
  src/components/KFileUpload/KFileUpload.cy.ts
  src/components/KFileUpload/KFileUpload.vue
  src/components/KInput/KInput.cy.ts
  src/components/KInput/KInput.vue
  src/components/KMultiselect/KMultiselect.cy.ts
  src/components/KMultiselect/KMultiselect.vue
  src/components/KSelect/KSelect.cy.ts
  src/components/KSelect/KSelect.vue
  src/components/KSlider/KSlider.cy.ts
  src/components/KSlider/KSlider.vue
  src/components/KTextArea/KTextArea.cy.ts
  src/components/KTextArea/KTextArea.vue
  src/types/file-upload.ts
  src/types/input.ts
  src/types/multi-select.ts
  src/types/select.ts
  src/types/slider.ts
  src/types/text-area.ts
Due: stylelint, eslint

chore: add pnpm store index
  .pnpm-store/v11/index.db
Due: none

fix(kradio): reset card label margin
  src/components/KRadio/KRadio.vue
Due: stylelint, eslint

ci: agentic reviewer
  .github/workflows/agentic-reviewer.yaml
  README.md
  agentic-reviewer.md
Due: none
