Repository Kong/kongponents: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint

stylelint:
  skip:
  - merge
  - rebase
  run: pnpm exec stylelint -- {push_files}

eslint:
  skip:
  - merge
  - rebase
  run: pnpm exec eslint -- {push_files}

chore: bump axios for Renovate (#3192)
  package.json
  pnpm-lock.yaml
Due: none

fix: add customrangevalidation to disable apply
  src/components/KDateTimePicker/CalendarWrapper.vue
  src/components/KDateTimePicker/KDateTimePicker.cy.ts
  src/components/KDateTimePicker/KDateTimePicker.vue
  src/types/date-time-picker.ts
Due: stylelint, eslint

fix: add samedayfullrange prop to allow valid time range for same day
  sandbox/pages/SandboxDateTimePicker.vue
  src/components/KDateTimePicker/CalendarWrapper.vue
  src/components/KDateTimePicker/KDateTimePicker.cy.ts
  src/components/KDateTimePicker/KDateTimePicker.vue
  src/types/date-time-picker.ts
Due: stylelint, eslint

fix: add sameDayFullRange prop to allow valid time range for same day queries [MA-4646] (#3070)
  sandbox/pages/SandboxDateTimePicker.vue
  src/components/KDateTimePicker/CalendarWrapper.vue
  src/components/KDateTimePicker/KDateTimePicker.cy.ts
  src/components/KDateTimePicker/KDateTimePicker.vue
  src/types/date-time-picker.ts
Due: stylelint, eslint

chore(release): 9.54.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  6c94de4e56b2c7d393061ca0fc858240a256bc65
Due: none

fix: button text color
  src/components/KButton/KButton.vue
Due: stylelint, eslint

fix(ktableview): actions dropdown popover attributes prop [KHCP-20535] (#3191)
  docs/components/table-view.md
  src/components/KTableView/KTableView.cy.ts
  src/components/KTableView/KTableView.vue
  src/types/popover.ts
  src/types/table.ts
Due: stylelint, eslint

chore(release): 9.54.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  c92f0d84bbd967ef87eb5977a410af09fbcf4d02
Due: none

fix: button font tokens
  src/components/KButton/KButton.vue
Due: stylelint, eslint

fix: bumping actions versions to prevent Node20 warning [KHCP-20416] (#3173)
  .github/workflows/get-changed-files.yaml
  .github/workflows/pr-audit.yaml
  .github/workflows/test.yaml
Due: none

feat: update design-tokens
  package.json
  pnpm-lock.yaml
Due: none

fix(deps): pnpm audit fixes
  package.json
  pnpm-lock.yaml
Due: none

fix(deps): pnpm audit fixes (#3199)
  package.json
  pnpm-lock.yaml
Due: none

chore(release): 9.54.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  4c2e42e02767dcff3765f2ec316e4feff8bff959
Due: none

feat: brand tokens
  package.json
  pnpm-lock.yaml
Due: none

docs: component tokens
  .gitignore
  docs/guide/contributing.md
  docs/guide/theming.md
Due: none

fix: lockfile
  pnpm-lock.yaml
Due: none

chore(deps): update package
  package.json
  pnpm-lock.yaml
Due: none

feat(kbutton): button component tokens (#3190)
  .gitignore
  docs/guide/contributing.md
  docs/guide/theming.md
  package.json
  pnpm-lock.yaml
  src/components/KButton/KButton.vue
  src/styles/mixins/_buttons.scss
Due: stylelint, eslint

chore(release): 9.55.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  f529e1a0f99b21a71dd231076834c5e0cac5c018
Due: none

revert(kbutton): button component tokens (#3190)
  .gitignore
  docs/guide/contributing.md
  docs/guide/theming.md
  package.json
  pnpm-lock.yaml
  src/components/KButton/KButton.vue
  src/styles/mixins/_buttons.scss
Due: stylelint, eslint

fix(deps): bump design token package
  package.json
  pnpm-lock.yaml
Due: none

revert(kbutton): button component tokens (#3206)
  .gitignore
  docs/guide/contributing.md
  docs/guide/theming.md
  package.json
  pnpm-lock.yaml
  src/components/KButton/KButton.vue
  src/styles/mixins/_buttons.scss
Due: stylelint, eslint

fix: trigger release
  src/index.ts
Due: eslint

chore(release): 9.55.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  9bafc5c645331241190fd807c88a208fa3ffb0c9
Due: none

fix(kongponents): dependencies error
  package.json
  pnpm-lock.yaml
Due: none

fix: cleanup overrides in package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: restore trustPolicy
  pnpm-workspace.yaml
Due: none

fix: auto-install-peers lock to false
  .npmrc
Due: none

fix: lock vue to prevent typecheck errors
  package.json
  pnpm-lock.yaml
Due: none

fix: cleanup overrides in package.json (#3211)
  .npmrc
  package.json
  pnpm-lock.yaml
Due: none

chore(release): 9.55.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  596dea02e613fd2f3e5c18e416dea5e32dfb416f
Due: none

fix(k-button): link button styling issue under KAlert slots
  docs/components/alert.md
  sandbox/pages/SandboxAlert.vue
  src/components/KAlert/KAlert.vue
Due: stylelint, eslint

Path conditions:
  stylelint: any of: *.{css,scss,sass,vue}
  eslint: any of: *.{js,mjs,cjs,jsx,ts,tsx,mts,cts,vue}
