Repository Kong/kongponents: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint

lefthook.yaml:

# Reference:
# https://lefthook.dev/configuration/

pre-push:
  parallel: true
  commands:
    stylelint:
      skip:
        - merge
        - rebase
      glob: '*.{css,scss,sass,vue}'
      run: pnpm exec stylelint -- {push_files}
    eslint:
      skip:
        - merge
        - rebase
      glob: '*.{js,mjs,cjs,jsx,ts,tsx,mts,cts,vue}'
      run: pnpm exec eslint -- {push_files}

commit-msg:
  parallel: true
  commands:
    commitlint:
      skip:
        - merge
        - rebase
      run: pnpm commitlint --edit "$1"

chore(release): 9.60.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  30752888a0d24e1a402d0f6a081498bc8f959d3a
Due: none

fix: docs theme
  docs/.vitepress/theme/_variables.scss
  docs/.vitepress/theme/composables/useDocsTheme.ts
  docs/.vitepress/theme/index.scss
Due: stylelint, eslint

feat: pagination tokens
  src/components/KPagination/KPagination.vue
Due: stylelint, eslint

feat: kslideout, kemptystate, kcodeblock component tokens
  src/components/KCodeBlock/KCodeBlock.vue
  src/components/KEmptyState/KEmptyState.vue
  src/components/KSlideout/KSlideout.vue
Due: stylelint, eslint

chore: update package
  package.json
  pnpm-lock.yaml
Due: none

feat: modal, pop, toaster component tokens
  src/components/KModal/KModal.vue
  src/components/KPop/KPop.vue
  src/components/KToaster/KToaster.vue
Due: stylelint, eslint

fix: sanitize themes
  src/theme/themeToCssVars.spec.ts
  src/theme/themeToCssVars.ts
Due: eslint

fix: docs dropdown icon color
  docs/.vitepress/theme/components/DocsThemePicker.vue
Due: stylelint, eslint

feat: table, tabs, breadcrumbs component tokens
  src/components/KBreadcrumbs/KBreadcrumbs.vue
  src/components/KPagination/KPagination.vue
  src/components/KTabs/KTabs.vue
  src/styles/mixins/_tables.scss
Due: stylelint, eslint

fix: stylelint config
  .stylelintrc.mjs
Due: eslint

feat: input, segmented conrtrol, slider, tabs component tokens
  docs/.vitepress/theme/_variables.scss
  package.json
  pnpm-lock.yaml
  sandbox/components/SandboxSectionComponent.vue
  sandbox/components/SandboxTitleComponent.vue
  sandbox/pages/SandboxCard.vue
  sandbox/pages/SandboxCheckbox.vue
  sandbox/pages/SandboxRadio.vue
  src/components/KCard/KCard.vue
  src/components/KCheckbox/KCheckbox.vue
  src/components/KCodeBlock/KCodeBlock.vue
  src/components/KDateTimePicker/KDateTimePicker.vue
  src/components/KFileUpload/KFileUpload.vue
  src/components/KFilterGroup/InteractivePill.vue
  src/components/KInputSwitch/KInputSwitch.vue
  src/components/KPop/KPop.vue
  src/components/KSegmentedControl/KSegmentedControl.vue
  src/components/KSlider/KSlider.vue
  src/components/KTabs/KTabs.vue
  src/styles/mixins/_badges.scss
  src/styles/mixins/_input-text.scss
  src/styles/mixins/_tables.scss
  src/theme/themeable-tokens.spec.ts
Due: stylelint, eslint

feat: skeleton, stepper, tree-list component tokens
  src/components/KSkeleton/CardSkeleton.vue
  src/components/KSkeleton/FullScreenGenericSpinner.vue
  src/components/KSkeleton/KSkeletonBox.vue
  src/components/KSkeleton/TableSkeleton.vue
  src/components/KStepper/KStep.vue
  src/components/KTreeList/KTreeDraggable.vue
  src/components/KTreeList/KTreeItem.vue
  src/components/KTreeList/KTreeList.vue
  src/styles/mixins/_badges.scss
  src/styles/mixins/_loaders.scss
Due: stylelint, eslint

chore: sandbox theme picker colors
  sandbox/components/SandboxThemePicker.vue
Due: stylelint, eslint

feat: collapse, copy, file-upload component tokens
  src/components/KCollapse/KCollapse.vue
  src/components/KCopy/KCopy.vue
  src/components/KFileUpload/KFileUpload.vue
Due: stylelint, eslint

feat: component tokens
  src/components/KDateTimePicker/KDateTimePicker.vue
  src/components/KExternalLink/KExternalLink.vue
  src/components/KFileUpload/KFileUpload.vue
  src/components/KFilterGroup/FilterSelector.vue
  src/components/KFilterGroup/InteractivePill.vue
  src/components/KFilterGroup/KFilterGroup.vue
  src/components/KMultiselect/KMultiselect.vue
  src/components/KMultiselect/KMultiselectItems.vue
  src/components/KRadio/KRadio.vue
  src/components/KTruncate/KTruncate.vue
Due: stylelint, eslint

feat: fixes and package update
  package.json
  pnpm-lock.yaml
  src/components/KEmptyState/KEmptyState.vue
  src/components/KFileUpload/KFileUpload.vue
  src/components/KSegmentedControl/KSegmentedControl.vue
  src/components/KTruncate/KTruncate.vue
  src/styles/mixins/_input-text.scss
Due: stylelint, eslint

chore: update deps
  pnpm-lock.yaml
Due: none

fix: test assertion
  src/components/KFilterGroup/InteractivePill.cy.ts
  src/components/KFilterGroup/InteractivePill.vue
Due: stylelint, eslint

chore: theme order
  docs/.vitepress/theme/utils/docsThemes.ts
  sandbox/utils/sandboxThemes.ts
Due: eslint

chore(deps): bump design-tokens
  .stylelintrc.mjs
  package.json
  pnpm-lock.yaml
Due: eslint

fix: lint:fix
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: eslint

fix: lint:fix
  eslint.config.mjs
Due: eslint

fix: stylelint and eslint updates
  .stylelintrc.mjs
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  sandbox/components/SandboxSectionComponent.vue
  sandbox/components/SandboxTitleComponent.vue
  sandbox/pages/SandboxCard.vue
  sandbox/pages/SandboxCheckbox.vue
  sandbox/pages/SandboxRadio.vue
  src/components/KCodeBlock/KCodeBlock.vue
  src/components/KDateTimePicker/KDateTimePicker.vue
  src/components/KFileUpload/KFileUpload.vue
  src/components/KFilterGroup/InteractivePill.vue
  src/components/KPop/KPop.vue
  src/components/KSegmentedControl/KSegmentedControl.vue
  src/styles/mixins/_tables.scss
Due: stylelint, eslint

fix: pnpm audit and workspace file
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

ci: check workspace file
  .github/workflows/get-changed-files.yaml
Due: none

fix(deps): update package
  package.json
  pnpm-lock.yaml
Due: none

fix(deps): pnpm audit
  pnpm-workspace.yaml
Due: none

fix: filename
  .github/workflows/get-changed-files.yaml
Due: none

fix: fetch-depth
  .github/workflows/get-changed-files.yaml
Due: none

fix(pnpm): workspace file and undici override (#3240)
  .github/workflows/get-changed-files.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(deps): update dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore(release): 9.60.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  8c07ecd14fd74abe492cb1eedc6616fa66090c9d
Due: none

fix(deps): bump version
  package.json
  pnpm-lock.yaml
Due: none

test: update assertion
  src/components/KFilterGroup/InteractivePill.cy.ts
Due: eslint

fix: formatting
  .vscode/settings.json
  src/styles/mixins/_tables.scss
Due: stylelint
