Repository Kong/kongponents: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint

stylelint:
  skip:
  - merge
  - rebase
  run: pnpm exec stylelint -- {push_files}

eslint:
  skip:
  - merge
  - rebase
  run: pnpm exec eslint -- {push_files}

Notes added by 'git notes add'
  32bf3df1f8995eaf8dc18994609aa12876f30d7d
Due: none

docs: better documentation for filters
  docs/components/filter-group.md
Due: none

docs: additional feedback
  docs/components/filter-group.md
Due: none

feat: new kongponent KFilterGroup [KHCP-19257] (#3094)
  docs/.vitepress/config.ts
  docs/components/filter-group.md
  sandbox/index.ts
  sandbox/pages/SandboxFilterGroup.vue
  sandbox/router/sandbox-routes.ts
  src/components/KFilterGroup/FilterPill.cy.ts
  src/components/KFilterGroup/FilterPill.vue
  src/components/KFilterGroup/FilterSelector.cy.ts
  src/components/KFilterGroup/FilterSelector.vue
  src/components/KFilterGroup/InteractivePill.cy.ts
  src/components/KFilterGroup/InteractivePill.vue
  src/components/KFilterGroup/KFilterGroup.cy.ts
  src/components/KFilterGroup/KFilterGroup.vue
  src/components/KMultiselect/KMultiselect.vue
  src/components/index.ts
  src/global-components.ts
  src/types/filter-group.ts
  src/types/index.ts
Due: stylelint, eslint

chore(release): 9.52.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  ad2dd4a78e81be919f6560b713546700dfbab758
Due: none

chore(deps): bump design tokens
  package.json
  pnpm-lock.yaml
Due: none

fix: minor fix
  src/components/KFilterGroup/FilterPill.vue
  src/components/KFilterGroup/InteractivePill.vue
Due: stylelint, eslint

chore: pnpm audit fix
  package.json
  pnpm-lock.yaml
Due: none

chore: pnpm audit fix
  package.json
Due: none

chore: pnpm audit fix (#3127)
  package.json
  pnpm-lock.yaml
Due: none

fix: minor fix
  .stylelintrc.mjs
Due: eslint

fix(*): apply token-var-usage stylelint rule (#3117)
  .stylelintrc.mjs
  package.json
  pnpm-lock.yaml
  src/components/KEmptyState/KEmptyState.vue
  src/components/KFilterGroup/FilterPill.vue
  src/components/KFilterGroup/InteractivePill.vue
  src/components/KSlider/KSlider.vue
  src/components/KTableView/ColumnVisibilityMenu.vue
  src/components/KTreeList/KTreeDraggable.vue
  src/components/KTreeList/KTreeItem.vue
  src/styles/mixins/_input-text.scss
  src/styles/mixins/_tables.scss
Due: stylelint, eslint

chore(release): 9.52.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  e29fdc09a82918722361c9d04ec53c2cefc9ed4b
Due: none

chore(release): 9.52.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  d912de57a04f661faab5136fe4075a407869ca80
Due: none

fix(kdropdown): dropdown item icon color
  src/components/KDropdown/KDropdownItem.vue
Due: stylelint, eslint

chore: apply suggestion
  package.json
Due: none

chore: update lockfile
  pnpm-lock.yaml
Due: none

fix: bumping nuxt instead of override deps
  package.json
  pnpm-lock.yaml
Due: none

fix: pnpm audit fix (#3138)
  package.json
  pnpm-lock.yaml
Due: none

chore(release): 9.52.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  249691a6f551f0a5a76124e6b62711f8799ead79
Due: none

fix(kdropdown): dropdown item icon color (#3137)
  src/components/KDropdown/KDropdownItem.vue
Due: stylelint, eslint

chore(release): 9.52.4 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  39d362d704f75ff5277f4b135693dd1f5221bc8f
Due: none

feat(kcodeblock): introduce new function prop `codeRenderer` for syntax highlighting
  docs/components/codeblock.md
  sandbox/pages/SandboxCodeBlock.vue
  src/components/KCodeBlock/KCodeBlock.cy.ts
  src/components/KCodeBlock/KCodeBlock.vue
  src/types/code-block.ts
Due: stylelint, eslint

fix: address comments
  docs/components/codeblock.md
  src/components/KCodeBlock/KCodeBlock.vue
Due: stylelint, eslint

fix: address comments
  docs/components/codeblock.md
  src/components/KCodeBlock/KCodeBlock.cy.ts
  src/components/KCodeBlock/KCodeBlock.vue
  src/types/code-block.ts
Due: stylelint, eslint

chore(release): 9.52.5 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  dcc9775a24e356f7980a2b695b2e47d62b3acd1f
Due: none

fix(kstepper): active, error, pending state label on small [KHCP-19918]
  src/components/KStepper/KStep.vue
Due: stylelint, eslint

docs(stepper): label responisveness note [KHCP-19918]
  docs/components/stepper.md
Due: none

chore: pnpm audit fix (#3144)
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  stylelint: any of: *.{css,scss,sass,vue}
  eslint: any of: *.{js,mjs,cjs,jsx,ts,tsx,mts,cts,vue}
