Repository Kong/kongponents: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint

stylelint:
  skip:
  - merge
  - rebase
  run: pnpm exec stylelint -- {push_files}

eslint:
  skip:
  - merge
  - rebase
  run: pnpm exec eslint -- {push_files}

chore: bump @cypress/vite-dev-server to 7.2.1 renovate #3145
  package.json
  pnpm-lock.yaml
Due: none

chore: bump @vue/tsconfig to 0.9.1 renovate #3159
  package.json
  pnpm-lock.yaml
Due: none

chore: package bumps (#3161)
  package.json
  pnpm-lock.yaml
  src/components/KCodeBlock/KCodeBlock.vue
Due: stylelint, eslint

chore: bump @vitejs/plugin-vue to 6.0.5, vite-plugin-vue-devtools to 8.1.1 renovate #3052
  package.json
  pnpm-lock.yaml
Due: none

fix: sandbox changes for netlify deploy
  sandbox/netlify.toml
Due: none

chore: package bumps for renovate (#3162)
  package.json
  pnpm-lock.yaml
  sandbox/netlify.toml
Due: none

fix(kmodal): allow z-index in modal attributes (#3157)
  docs/components/prompt.md
  src/types/modal.ts
Due: eslint

chore(release): 9.52.10 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  5d82c77d767a35f08a37c27ffcd6ae11c97fe91d
Due: none

feat(table-data): extract data fetching related code out of k table data
  sandbox/pages/SandboxTableData.vue
  src/components/KTableData/KTableData.vue
  src/components/KTableData/useTableFetcher.ts
Due: stylelint, eslint

fix(table): regressions
  src/components/KTableData/KTableData.vue
  src/components/KTableData/useTableFetcher.ts
Due: stylelint, eslint

fix(table): regressions
  src/components/KTableData/KTableData.cy.ts
  src/components/KTableData/useTableFetcher.ts
Due: eslint

fix: address pr feedback
  sandbox/pages/SandboxToaster.vue
  src/components/KToaster/ToastManager.ts
  src/types/toaster.ts
Due: stylelint, eslint

fix: stylelint:fix
  sandbox/pages/SandboxToaster.vue
Due: stylelint, eslint

fix(ktoaster): deprecate zindex prop, set z-index on toaster container (#3093)
  sandbox/pages/SandboxToaster.vue
  src/components/KToaster/KToaster.cy.ts
  src/components/KToaster/KToaster.vue
  src/components/KToaster/ToastManager.cy.ts
  src/components/KToaster/ToastManager.ts
  src/types/toaster.ts
Due: stylelint, eslint

chore(release): 9.52.11 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  2b23f161871dd870124141115a1c007b95502914
Due: none

Revert "fix(ktabs): use kbutton for ktabs (#2707)"
  src/components/KTabs/KTabs.vue
Due: stylelint, eslint

fix: bumping actions versions to prevent Node20 warning [KHCP-20416]
  .github/actions/setup-pnpm-with-dependencies/action.yaml
  .github/workflows/get-changed-files.yaml
  .github/workflows/pr-audit.yaml
  .github/workflows/test.yaml
Due: none

fix(deps): bump vue-router
  package.json
  pnpm-lock.yaml
Due: none

fix(deps): correct peer dependencies
  package.json
Due: none

fix(deps): correct peer dependencies (#3175)
  package.json
Due: none

chore(release): 9.52.12 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  0bef6ec46c0de96aec5219c372c80571d659d658
Due: none

fix(deps): vue-router semver range
  package.json
Due: none

fix(deps): vue-router semver range (#3177)
  package.json
Due: none

chore(release): 9.52.13 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  e0323819a5313ca373f1239307abe3d638ee43aa
Due: none

feat(ktabls): add ktabs minimal appearance [KHCP-20483]
  sandbox/pages/SandboxTabs.vue
  src/components/KTabs/KTabs.vue
  src/types/tabs.ts
Due: stylelint, eslint

test(ktabs): docs and tests [KHCP-20483]
  docs/components/tabs.md
  src/components/KTabs/KTabs.cy.ts
Due: eslint

fix: minor fix
  src/components/KTabs/KTabs.vue
Due: stylelint, eslint

chore: pnpm audit fix
  package.json
Due: none

fix: address pr feedback
  src/components/KTabs/KTabs.vue
Due: stylelint, eslint

fix: address pr feedback
  src/components/KTabs/KTabs.cy.ts
  src/components/KTabs/KTabs.vue
Due: stylelint, eslint

feat(ktabls): add ktabs minimal appearance [KHCP-20483] (#3178)
  docs/components/tabs.md
  sandbox/pages/SandboxTabs.vue
  src/components/KTabs/KTabs.cy.ts
  src/components/KTabs/KTabs.vue
  src/types/tabs.ts
Due: stylelint, eslint

chore(release): 9.53.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Path conditions:
  stylelint: any of: *.{css,scss,sass,vue}
  eslint: any of: *.{js,mjs,cjs,jsx,ts,tsx,mts,cts,vue}
