Repository Kong/kongponents: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint

stylelint:
  skip:
  - merge
  - rebase
  run: pnpm exec stylelint -- {push_files}

eslint:
  skip:
  - merge
  - rebase
  run: pnpm exec eslint -- {push_files}

chore(deps): bump @vue/tsconfig and vue-tsc
  package.json
  pnpm-lock.yaml
Due: none

style: mouse pointer
  src/components/KSlider/KSlider.vue
Due: stylelint, eslint

fix(ktoaster): prevent duplicate containers via a shared pool
  sandbox/composables/useSandboxToaster.ts
  sandbox/pages/SandboxToaster.vue
  src/components/KToaster/SharedPool.ts
  src/components/KToaster/ToastManager.ts
Due: stylelint, eslint

fix: ts
  src/components/KCodeBlock/KCodeBlock.vue
  src/components/KDateTimePicker/CalendarWrapper.vue
  src/components/KDateTimePicker/KDateTimePicker.vue
  src/components/KFileUpload/KFileUpload.vue
  src/components/KMultiselect/KMultiselect.vue
  src/components/KPagination/KPagination.vue
  src/components/KSelect/KSelect.vue
  src/components/KTable/KTable.vue
  src/components/KTableData/KTableData.vue
  src/components/KTableView/ColumnVisibilityMenu.vue
  src/components/KTableView/KTableView.vue
  src/components/KTabs/KTabs.vue
  src/components/KToggle/KToggle.vue
  src/components/KTreeList/KTreeDraggable.vue
  src/components/KTruncate/KTruncate.vue
  src/types/date-time-picker.ts
  src/types/tree-list.ts
  src/utilities/codeBlockHelpers.ts
  src/utilities/lineHighlighting.ts
  src/utilities/tableHelpers.ts
Due: stylelint, eslint

fix: minor fix
  src/components/KPagination/KPagination.vue
Due: stylelint, eslint

fix: apply pr feedback
  src/components/KSlider/KSlider.vue
Due: stylelint, eslint

feat(kslider): make step labels clickable [KHCP-19044] (#3038)
  src/components/KSlider/KSlider.cy.ts
  src/components/KSlider/KSlider.vue
Due: stylelint, eslint

chore(release): 9.49.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  367dc663c47d80324d716e704fc8119e6f81ad55
Due: none

fix(ktoaster): prevent duplicate containers via a shared pool v2
  sandbox/composables/useSandboxToaster.ts
  sandbox/pages/SandboxToaster.vue
  src/components/KToaster/SharedPool.ts
  src/components/KToaster/ToastManager.ts
Due: stylelint, eslint

fix(deps): bump @vue/tsconfig and vue-tsc (#3042)
  package.json
  pnpm-lock.yaml
  src/components/KCodeBlock/KCodeBlock.vue
  src/components/KDateTimePicker/CalendarWrapper.vue
  src/components/KDateTimePicker/KDateTimePicker.vue
  src/components/KFileUpload/KFileUpload.vue
  src/components/KMultiselect/KMultiselect.vue
  src/components/KPagination/KPagination.vue
  src/components/KSelect/KSelect.vue
  src/components/KTable/KTable.vue
  src/components/KTableData/KTableData.vue
  src/components/KTableView/ColumnVisibilityMenu.vue
  src/components/KTableView/KTableView.vue
  src/components/KTabs/KTabs.vue
  src/components/KToggle/KToggle.vue
  src/components/KTreeList/KTreeDraggable.vue
  src/components/KTruncate/KTruncate.vue
  src/types/date-time-picker.ts
  src/types/tree-list.ts
  src/utilities/codeBlockHelpers.ts
  src/utilities/lineHighlighting.ts
  src/utilities/tableHelpers.ts
Due: stylelint, eslint

chore(release): 9.49.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  86098b8dbf604d3415c2cfda858b11a7811c2b55
Due: none

fix(ktreelist): loosen tree list item interface
  src/types/tree-list.ts
Due: eslint

chore: apply audit fixes
  package.json
  pnpm-lock.yaml
Due: none

chore: preact version override
  package.json
  pnpm-lock.yaml
Due: none

chore: preact version override (#3048)
  package.json
  pnpm-lock.yaml
Due: none

fix(ktreelist): loosen tree list item interface (#3046)
  src/types/tree-list.ts
Due: eslint

chore(release): 9.49.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  780e029c8fe4f05b2520f12eb2279bf5130b0f60
Due: none

fix(ktoaster): toast manager reactivity [KHCP-18535]
  src/components/KToaster/KToaster.vue
  src/components/KToaster/ToastManager.ts
  src/types/toaster.ts
Due: stylelint, eslint

fix(ktoaster): revert reactivity fix [KHCP-18535]
  src/components/KToaster/KToaster.vue
  src/components/KToaster/ToastManager.ts
  src/types/toaster.ts
Due: stylelint, eslint

fix(ktoaster): debugging [KHCP-18535]
  src/components/KToaster/KToaster.vue
  src/components/KToaster/ToastManager.ts
Due: stylelint, eslint

fix: minor fix
  src/components/KToaster/KToaster.vue
Due: stylelint, eslint

fix: minor fix
  src/components/KToaster/ToastManager.ts
Due: eslint

fix: minor fix
  src/components/KToaster/KToaster.vue
  src/components/KToaster/ToastManager.ts
Due: stylelint, eslint

test(ktoaster): fix unit test [KHCP-18535]
  src/components/KToaster/ToastManager.cy.ts
Due: eslint

docs(toaster): destroy function docs [KHCP-18535]
  docs/components/toaster.md
  src/components/KToaster/ToastManager.ts
Due: eslint

docs(radio): error card example [KHCP-18535]
  docs/components/radio.md
Due: none

fix: address pr feedback
  docs/components/radio.md
  src/components/KToaster/ToastManager.cy.ts
  src/components/KToaster/ToastManager.ts
Due: eslint

fix(ktoaster): singleton guard and noop SSR manager
  src/components/KToaster/ToastManager.ts
Due: eslint

test(ktoaster): test scenario [KHCP-18535]
  src/components/KToaster/ToastManager.cy.ts
Due: eslint

fix(*): add name attribute to inputs [KHCP-19041]
  src/components/KCodeBlock/KCodeBlock.vue
  src/components/KFileUpload/KFileUpload.vue
  src/components/KMultiselect/KMultiselect.vue
  src/components/KPrompt/KPrompt.vue
  src/components/KSelect/KSelect.vue
  src/components/KTableView/ColumnVisibilityMenu.vue
Due: stylelint, eslint

test(*): name attribute assertions [KHCP-19041]
  src/components/KCodeBlock/KCodeBlock.cy.ts
  src/components/KFileUpload/KFileUpload.cy.ts
  src/components/KPrompt/KPrompt.cy.ts
  src/components/KSelect/KSelect.cy.ts
Due: eslint

fix: address pr feedback
  src/components/KCodeBlock/KCodeBlock.vue
  src/components/KFileUpload/KFileUpload.vue
  src/components/KMultiselect/KMultiselect.vue
  src/components/KPrompt/KPrompt.vue
  src/components/KSelect/KSelect.vue
  src/components/KTableView/ColumnVisibilityMenu.vue
Due: stylelint, eslint

fix: apply suggestions
  src/components/KFileUpload/KFileUpload.vue
  src/components/KPrompt/KPrompt.vue
Due: stylelint, eslint

fix: address pr feedback
  src/components/KMultiselect/KMultiselect.vue
  src/components/KSelect/KSelect.vue
Due: stylelint, eslint

fix(*): add name attribute to inputs [KHCP-19041] (#3055)
  src/components/KCodeBlock/KCodeBlock.cy.ts
  src/components/KCodeBlock/KCodeBlock.vue
  src/components/KFileUpload/KFileUpload.cy.ts
  src/components/KFileUpload/KFileUpload.vue
  src/components/KMultiselect/KMultiselect.vue
  src/components/KPrompt/KPrompt.cy.ts
  src/components/KPrompt/KPrompt.vue
  src/components/KSelect/KSelect.cy.ts
  src/components/KSelect/KSelect.vue
  src/components/KTableView/ColumnVisibilityMenu.vue
Due: stylelint, eslint

fix(multiselect): tweak input name attribute value [KHCP-19041]
  src/components/KCodeBlock/KCodeBlock.cy.ts
  src/components/KMultiselect/KMultiselect.vue
  src/components/KPrompt/KPrompt.cy.ts
Due: stylelint, eslint

Path conditions:
  stylelint: any of: *.{css,scss,sass,vue}
  eslint: any of: *.{js,mjs,cjs,jsx,ts,tsx,mts,cts,vue}
