Repository Kong/kongponents: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint

stylelint:
  skip:
  - merge
  - rebase
  run: pnpm exec stylelint -- {push_files}

eslint:
  skip:
  - merge
  - rebase
  run: pnpm exec eslint -- {push_files}

test(kmultiselect): preserve existing refactor coverage
  src/components/KMultiselect/KMultiselect.cy.ts
Due: eslint

ci: vitest browser testing fix
  vitest.config.ts
Due: eslint

ci: vitest browser testing fix (#3356)
  vitest.config.ts
Due: eslint

chore: trivial whitespace change for authorized bug-bounty PoC (HackerOne: aks-builds)
  README.md
Due: none

fix(kmultiselect): preserve SSR badge layout
  src/components/KMultiselect/KMultiselect.ssr.cy.ts
  src/components/KMultiselect/KMultiselect.vue
Due: stylelint, eslint

test(kmultiselect): remove dedicated SSR spec
  src/components/KMultiselect/KMultiselect.ssr.cy.ts
Due: eslint

test(kalert, kinput): convert cypress to vitest
  package.json
  src/components/KAlert/KAlert.browser.spec.ts
  src/components/KInput/KInput.browser.spec.ts
Due: eslint

chore(vitest): optimize deps swrv
  vitest.config.ts
Due: eslint

test(kalert, kinput): convert cypress to vitest (#3358)
  package.json
  src/components/KAlert/KAlert.browser.spec.ts
  src/components/KInput/KInput.browser.spec.ts
  vitest.config.ts
Due: eslint

fix(kmultiselect): address clamp review feedback
  src/components/KMultiselect/KMultiselect.vue
Due: stylelint, eslint

fix(ktextarea): remove baseline gap below textarea wrapper
  src/components/KTextArea/KTextArea.vue
Due: stylelint, eslint

fix(ktextarea): remove baseline gap below textarea wrapper (#3359)
  src/components/KTextArea/KTextArea.vue
Due: stylelint, eslint

chore(release): 9.64.9 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  d975aaca89e49db9e4a557e2a72f9dc022fb991e
Due: none

fix(deps): update design tokens for colors
  package.json
  pnpm-lock.yaml
Due: none

feat: update design tokens
  package.json
  pnpm-lock.yaml
Due: none

fix(deps): update design tokens for colors (#3360)
  package.json
  pnpm-lock.yaml
Due: none

chore(release): 9.64.10 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  5fbf02c77c4010f189409a3f6b3ce866f914c4bd
Due: none

fix(ksegmentedcontrol): horizontal scroll [KHCP-21533]
  sandbox/pages/SandboxSegmentedControl.vue
  src/components/KSegmentedControl/KSegmentedControl.vue
Due: stylelint, eslint

chore: convert-cypress-to-vitest-component skill
  skills/convert-cypress-to-vitest-component/SKILL.md
  skills/convert-cypress-to-vitest-component/Untitled
Due: none

chore: clean up
  skills/convert-cypress-to-vitest-component/Untitled
Due: none

chore: apply feedback
  skills/convert-cypress-to-vitest-component/SKILL.md
Due: none

chore: convert-cypress-to-vitest-component skill (#3363)
  skills/convert-cypress-to-vitest-component/SKILL.md
Due: none

test(kbutton): convert kbutton cypress test to vitest [KHCP-21620]
  src/components/KButton/KButton.browser.spec.ts
Due: eslint

fix(deps): bump @kong/design-tokens
  package.json
  pnpm-lock.yaml
Due: none

test(kbutton): convert kbutton cypress test to vitest [KHCP-21620] (#3365)
  src/components/KButton/KButton.browser.spec.ts
Due: eslint

fix(kpagination): remove 15 default page size option
  docs/components/pagination.md
  src/components/KCatalog/KCatalog.vue
  src/components/KPagination/KPagination.browser.spec.ts
  src/components/KPagination/KPagination.vue
  src/types/catalog.ts
  src/types/pagination.ts
Due: stylelint, eslint

test(ksegmentedcontrol): component tests [KHCP-21533]
  src/components/KSegmentedControl/KSegmentedControl.browser.spec.ts
Due: eslint

fix: minor fix
  src/components/KPagination/KPagination.vue
  src/components/KSegmentedControl/KSegmentedControl.vue
Due: stylelint, eslint

fix: minor fix
  sandbox/pages/SandboxSegmentedControl.vue
Due: stylelint, eslint

fix: minor fix
  src/components/KSegmentedControl/KSegmentedControl.vue
Due: stylelint, eslint

test(kpagination): convert component tests [KHCP-21533]
  src/components/KPagination/KPagination.browser.spec.ts
Due: eslint

chore(convert-cypress-to-vitest-component): update location & routing
  skills/convert-cypress-to-vitest-component/SKILL.md
Due: none

fix(ksegmentedcontrol): horizontal scroll [KHCP-21533] (#3362)
  package.json
  pnpm-lock.yaml
  sandbox/pages/SandboxSegmentedControl.vue
  src/components/KPagination/KPagination.browser.spec.ts
  src/components/KPagination/KPagination.vue
  src/components/KSegmentedControl/KSegmentedControl.browser.spec.ts
  src/components/KSegmentedControl/KSegmentedControl.vue
Due: stylelint, eslint

chore(release): 9.64.11 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  bcaa5cd22995d866eb63022361f78bddb9ddb8a0
Due: none

test(kpop, kdropdown): convert component tests to vitest [KHCP-21642]
  skills/convert-cypress-to-vitest-component/SKILL.md
  src/components/KDropdown/KDropdown.browser.spec.ts
  src/components/KPop/KPop.browser.spec.ts
  test/utils.ts
Due: eslint

Path conditions:
  stylelint: any of: *.{css,scss,sass,vue}
  eslint: any of: *.{js,mjs,cjs,jsx,ts,tsx,mts,cts,vue}
