Repository Kong/kongponents: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint

lefthook.yaml:

# Reference:
# https://lefthook.dev/configuration/

pre-push:
  parallel: true
  commands:
    stylelint:
      skip:
        - merge
        - rebase
      glob: '*.{css,scss,sass,vue}'
      run: pnpm exec stylelint -- {push_files}
    eslint:
      skip:
        - merge
        - rebase
      glob: '*.{js,mjs,cjs,jsx,ts,tsx,mts,cts,vue}'
      run: pnpm exec eslint -- {push_files}

commit-msg:
  parallel: true
  commands:
    commitlint:
      skip:
        - merge
        - rebase
      run: pnpm commitlint --edit "$1"

fix(kstepper): active, error, pending state label on small [KHCP-19918] (#3143)
  docs/components/stepper.md
  src/components/KStepper/KStep.vue
Due: stylelint, eslint

chore(release): 9.52.6 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  65f573dc5a6fd3dbe5d911c9e2735fe08a05a597
Due: none

fix(kbadge): remove tooltip outline
  src/components/KBadge/KBadge.vue
Due: stylelint, eslint

chore: pnpm audit fix
  package.json
  pnpm-lock.yaml
Due: none

fix: address pr feedback
  src/components/KBadge/KBadge.vue
Due: stylelint, eslint

fix: minor fix
  src/components/KBadge/KBadge.vue
Due: stylelint, eslint

fix(kbadge): remove tooltip outline (#3149)
  package.json
  pnpm-lock.yaml
  src/components/KBadge/KBadge.vue
Due: stylelint, eslint

chore(release): 9.52.7 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  9245e6e61d74cc9132ec84c5544f350fc927eee1
Due: none

fix(pnpm): enforce vulnerability protections
  pnpm-workspace.yaml
Due: none

fix(pnpm): enforce vulnerability protections (#3151)
  pnpm-workspace.yaml
Due: none

fix(kdropdown): kcheckbox icon color in kdropdown
  sandbox/pages/SandboxDropdown.vue
  src/components/KDropdown/KDropdownItem.vue
  src/styles/_vars.scss
Due: stylelint, eslint

chore(release): 9.52.8 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  b3bd1f7cf817d303ac11b5b6f1835654ae0a8bb6
Due: none

fix(kdropdown): kcheckbox icon color in kdropdown (#3152)
  sandbox/pages/SandboxDropdown.vue
  src/components/KDropdown/KDropdownItem.vue
  src/styles/_vars.scss
Due: stylelint, eslint

chore(release): 9.52.9 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  7c1e4092141d4d6a9f1addaee418b35fcdafbf15
Due: none

fix(kmodal): allow z-index in modal attributes
  src/types/modal.ts
Due: eslint

chore: pnpm audit fix
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

docs(propmp): update modal attributes prop
  docs/components/prompt.md
Due: none

chore: pnpm audit fix
  package.json
Due: none

chore: pnpm audit fix (#3158)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: add customrangevalidation to disable apply
  src/components/KDateTimePicker/CalendarWrapper.vue
  src/components/KDateTimePicker/KDateTimePicker.cy.ts
  src/components/KDateTimePicker/KDateTimePicker.vue
  src/types/date-time-picker.ts
Due: stylelint, eslint

fix: add samedayfullrange prop to allow valid time range for same day
  sandbox/pages/SandboxDateTimePicker.vue
  src/components/KDateTimePicker/CalendarWrapper.vue
  src/components/KDateTimePicker/KDateTimePicker.cy.ts
  src/components/KDateTimePicker/KDateTimePicker.vue
  src/types/date-time-picker.ts
Due: stylelint, eslint

chore: bump virtua to 0.49.0, renovate #2968
  package.json
  pnpm-lock.yaml
Due: none

fix: handle virtua type and config changes
  src/components/KCodeBlock/KCodeBlock.vue
Due: stylelint, eslint

chore: bump @nuxt/kit to 4.4.2 renovate #3141
  package.json
  pnpm-lock.yaml
Due: none

chore: bump @cypress/vite-dev-server to 7.2.1 renovate #3145
  package.json
  pnpm-lock.yaml
Due: none

chore: bump @vue/tsconfig to 0.9.1 renovate #3159
  package.json
  pnpm-lock.yaml
Due: none

chore: bump @vitejs/plugin-vue to 6.0.5, vite-plugin-vue-devtools to 8.1.1 renovate #3052
  package.json
  pnpm-lock.yaml
Due: none

fix: sandbox changes for netlify deploy
  sandbox/netlify.toml
Due: none

feat: change to force a rerun of build/publish
  src/components/KCodeBlock/KCodeBlock.vue
Due: stylelint, eslint
