Repository Kong/kongponents: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint

lefthook.yaml:

# Reference:
# https://lefthook.dev/configuration/

pre-push:
  parallel: true
  commands:
    stylelint:
      skip:
        - merge
        - rebase
      glob: '*.{css,scss,sass,vue}'
      run: pnpm exec stylelint -- {push_files}
    eslint:
      skip:
        - merge
        - rebase
      glob: '*.{js,mjs,cjs,jsx,ts,tsx,mts,cts,vue}'
      run: pnpm exec eslint -- {push_files}

commit-msg:
  parallel: true
  commands:
    commitlint:
      skip:
        - merge
        - rebase
      run: pnpm commitlint --edit "$1"

Notes added by 'git notes add'
  11bf0bb0dd821d9ffeb191ccaf732154ea0ad66d
Due: none

fix(kcodeblock): add copy code prop [KHCP-20471]
  docs/components/codeblock.md
  sandbox/pages/SandboxCodeBlock.vue
  src/components/KCodeBlock/KCodeBlock.cy.ts
  src/components/KCodeBlock/KCodeBlock.vue
  src/types/code-block.ts
Due: stylelint, eslint

fix(kcodeblock): add copy code prop [KHCP-20471] (#3180)
  docs/components/codeblock.md
  sandbox/pages/SandboxCodeBlock.vue
  src/components/KCodeBlock/KCodeBlock.cy.ts
  src/components/KCodeBlock/KCodeBlock.vue
  src/types/code-block.ts
Due: stylelint, eslint

chore(release): 9.53.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  2e536caad770bce39a16e0a84e376005a8107a46
Due: none

fix(ktabs): minor style fixes
  src/components/KTabs/KTabs.vue
Due: stylelint, eslint

fix(ktabs): minor style fixes (#3181)
  src/components/KTabs/KTabs.vue
Due: stylelint, eslint

chore(release): 9.53.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  afaa21c7e30e143e5535f5dfcd3a05ffad172b02
Due: none

fix(ktabs): minimal appearance spacing
  src/components/KTabs/KTabs.vue
Due: stylelint, eslint

fix(ktabs): minimal appearance spacing (#3184)
  src/components/KTabs/KTabs.vue
Due: stylelint, eslint

chore(release): 9.53.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  7e74ce638719c5e9c56fa8fc0897992863f8e7c8
Due: none

revert: package bumps for renovate (#3162)
  package.json
  sandbox/netlify.toml
Due: none

fix: lockfile
  pnpm-lock.yaml
  sandbox/netlify.toml
Due: none

feat(k-badge): add status code variant [KHCP-20495]
  docs/components/badge.md
  sandbox/pages/SandboxBadge.vue
  src/components/KBadge/KBadge.vue
  src/types/badge.ts
Due: stylelint, eslint

chore: simple-git audit fix
  package.json
  pnpm-lock.yaml
Due: none

chore: simple-git audit fix (#3189)
  package.json
  pnpm-lock.yaml
Due: none

fix: lockfile
  pnpm-lock.yaml
Due: none

chore: make all status code variants uppercase
  docs/components/badge.md
  sandbox/pages/SandboxBadge.vue
  src/components/KBadge/KBadge.vue
  src/types/badge.ts
Due: stylelint, eslint

chore(k-badge): make all status variants lower case
  docs/components/badge.md
  sandbox/pages/SandboxBadge.vue
  src/components/KBadge/KBadge.vue
  src/types/badge.ts
Due: stylelint, eslint

feat(k-badge): add status code variant [KHCP-20495] (#3188)
  docs/components/badge.md
  sandbox/pages/SandboxBadge.vue
  src/components/KBadge/KBadge.vue
  src/types/badge.ts
Due: stylelint, eslint

chore(release): 9.54.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  0c97f2aaf02057487730baba5c9889a4de81280d
Due: none

revert(deps): package bumps from #3162 (#3186)
  package.json
  pnpm-lock.yaml
Due: none

fix(kpagination): duplicate last-page button when mounted on last page
  src/components/KPagination/KPagination.cy.ts
  src/components/KPagination/KPagination.vue
Due: stylelint, eslint

fix(table): regressions
  src/components/KTableData/KTableData.vue
  src/components/KTableData/useTableFetcher.ts
Due: stylelint, eslint

fix(table): regressions
  src/components/KTableData/KTableData.cy.ts
  src/components/KTableData/useTableFetcher.ts
Due: eslint

feat(table-data): extract data fetching related code out of k table data
  sandbox/pages/SandboxTableData.vue
  src/components/KTableData/KTableData.vue
  src/components/KTableData/useTableFetcher.ts
Due: stylelint, eslint

feat(ktabledata): extract fetcher coupled code to useTableFetcher
  src/components/KTableData/KTableData.cy.ts
  src/components/KTableData/KTableData.vue
  src/components/KTableData/useTableFetcher.ts
Due: stylelint, eslint

feat(kbutton): button component tokens
  package.json
  pnpm-lock.yaml
  src/components/KButton/KButton.vue
  src/styles/mixins/_buttons.scss
Due: stylelint, eslint

fix(ktableview): actions dropdown popover attributes prop [KHCP-20535]
  docs/components/table-view.md
  src/components/KTableView/KTableView.cy.ts
  src/components/KTableView/KTableView.vue
  src/types/popover.ts
  src/types/table.ts
Due: stylelint, eslint

Revert "fix(ktabs): use kbutton for ktabs (#2707)"
  src/components/KTabs/KTabs.vue
Due: stylelint, eslint

fix(ktabs): avoid rendering anchors when tab.disabled
  src/components/KTabs/KTabs.vue
Due: stylelint, eslint

chore(ktabs): make the tests slightly more valuable
  src/components/KTabs/KTabs.cy.ts
Due: eslint

fix(kbutton): tokens
  src/components/KButton/KButton.vue
Due: stylelint, eslint

chore(ktabledata): address PR comments from copilot
  src/components/KTableData/KTableData.cy.ts
  src/components/KTableData/useTableFetcher.ts
Due: eslint

chore: bump axios
  package.json
  pnpm-lock.yaml
Due: none

chore: audit fix
  package.json
  pnpm-lock.yaml
Due: none
