Repository Kong/kongponents: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint

lefthook.yaml:

# Reference:
# https://lefthook.dev/configuration/

pre-push:
  parallel: true
  commands:
    stylelint:
      skip:
        - merge
        - rebase
      glob: '*.{css,scss,sass,vue}'
      run: pnpm exec stylelint -- {push_files}
    eslint:
      skip:
        - merge
        - rebase
      glob: '*.{js,mjs,cjs,jsx,ts,tsx,mts,cts,vue}'
      run: pnpm exec eslint -- {push_files}

commit-msg:
  parallel: true
  commands:
    commitlint:
      skip:
        - merge
        - rebase
      run: pnpm commitlint --edit "$1"

test(kskeleton): convert cypress to vitest [KHCP-21688] (#3391)
  src/components/KSkeleton/KSkeleton.browser.spec.ts
Due: eslint

test(ktabs): convert cypress to vitest [KHCP-21695] (#3392)
  src/components/KTabs/KTabs.browser.spec.ts
Due: eslint

test(ktextarea): convert cypress to vitest [KHCP-21696] (#3393)
  src/components/KTextArea/KTextArea.browser.spec.ts
Due: eslint

test(ktoaster): convert cypress to vitest [KHCP-21698] (#3394)
  src/components/KToaster/KToaster.browser.spec.ts
Due: eslint

test(kthemeprovider): convert 1:1 cypress test to vitest [KHCP-21697] (#3396)
  src/components/KThemeProvider/KThemeProvider.browser.spec.ts
Due: eslint

test(ktoggle): convert cypress to vitest [KHCP-21699] (#3398)
  src/components/KToggle/KToggle.browser.spec.ts
Due: eslint

test(ktruncate): convert cypress to vitest [KHCP-21701] (#3401)
  src/components/KTruncate/KTruncate.browser.spec.ts
Due: eslint

test(kcomponent): add vitest [KHCP-21669] (#3383)
  src/components/KComponent/KComponent.browser.spec.ts
Due: eslint

test(kcollapse): convert KCollapse Cypress to Vitest [KHCP-21668] (#3379)
  src/components/KCollapse/KCollapse.browser.spec.ts
Due: eslint

test(ktreelist): convert cypress to vitest [KHCP-21700] (#3399)
  src/components/KTreeList/KTreeList.browser.spec.ts
  vitest.config.ts
Due: eslint

fix: implement security headers in netlify.tom
  netlify.toml
Due: none

fix: implement security headers in netlify.tom (#3407)
  netlify.toml
Due: none

fix: add unsafe-inline
  netlify.toml
Due: none

fix: add unsafe-inline (#3408)
  netlify.toml
Due: none

test(kfiltergroup): convert kfiltergroup to vitest [KHCP-21676] (#3382)
  src/components/KFilterGroup/FilterPill.browser.spec.ts
  src/components/KFilterGroup/FilterSelector.browser.spec.ts
  src/components/KFilterGroup/InteractivePill.browser.spec.ts
  src/components/KFilterGroup/KFilterGroup.browser.spec.ts
  vitest.config.ts
Due: eslint

chore(release): 9.64.14 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  8049b67e322149151996c63a2156b6349e4a0580
Due: none

fix(kinput): reveal safari generated passwords [TDX-8840]
  src/components/KInput/KInput.browser.spec.ts
  src/components/KInput/KInput.vue
Due: stylelint, eslint

fix(deps): audit
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: lockfile
  pnpm-lock.yaml
Due: none

fix(deps): audit (#3414)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(release): 9.64.15 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  ee9a8e1cf8caca8001f157b32c6be722d8c037e0
Due: none

feat(ktabs): optionally cache visited tab panels
  docs/components/tabs.md
  src/components/KTabs/KTabs.cy.ts
  src/components/KTabs/KTabs.vue
  src/types/tabs.ts
Due: stylelint, eslint

refactor(ktabs): cache panels with native KeepAlive
  docs/components/tabs.md
  src/components/KTabs/KTabs.cy.ts
  src/components/KTabs/KTabs.vue
  src/components/KTabs/KTabsPanel.vue
  src/types/tabs.ts
Due: stylelint, eslint

fix: address pr suggestion
  src/components/KInput/KInput.browser.spec.ts
  src/components/KInput/KInput.vue
Due: stylelint, eslint

fix(ktabs): remove duplicate click handler
  src/components/KTabs/KTabs.vue
Due: stylelint, eslint

fix(kinput): reveal safari generated passwords [TDX-8840] (#3413)
  src/components/KInput/KInput.browser.spec.ts
  src/components/KInput/KInput.vue
Due: stylelint, eslint

chore(release): 9.64.16 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  22f126d7f43f5074068ad138855bc6b28d688372
Due: none

fix(ktabs): remove duplicate click handler (#3425)
  src/components/KTabs/KTabs.vue
Due: stylelint, eslint

chore(release): 9.64.17 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  cbc8a725c558efd152c0eeaacdb45f4a6d6e5ac3
Due: none

chore: bump swrv to ^1.3.0 and stop inlining it in ES/CJS builds
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint

test: convert remaining cypress tests to vitest [KHCP-21618]
  src/components/KToaster/ToastManager.spec.ts
  src/composables/useUtilities.spec.ts
  src/utilities/codeBlockHelpers.spec.ts
  src/utilities/css.spec.ts
  src/utilities/lineHighlighting.cy.ts
  src/utilities/lineHighlighting.ts
Due: eslint

chore(build): externalize runtime dependencies in the ES/CJS builds
  vite.config.ts
Due: eslint
