Repository Kong/kongponents: changes, and which lefthook commands are due for each by the changed paths.
All: stylelint, eslint

lefthook.yaml:

# Reference:
# https://lefthook.dev/configuration/

pre-push:
  parallel: true
  commands:
    stylelint:
      skip:
        - merge
        - rebase
      glob: '*.{css,scss,sass,vue}'
      run: pnpm exec stylelint -- {push_files}
    eslint:
      skip:
        - merge
        - rebase
      glob: '*.{js,mjs,cjs,jsx,ts,tsx,mts,cts,vue}'
      run: pnpm exec eslint -- {push_files}

commit-msg:
  parallel: true
  commands:
    commitlint:
      skip:
        - merge
        - rebase
      run: pnpm commitlint --edit "$1"

chore(release): 9.46.12 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  53a06771f67d4bc6d48d3b5c96c197af0e18e255
Due: none

fix: back to publishing using semantic-release [KHCP-17673]
  .github/workflows/publish.yaml
  package.json
Due: none

fix: back to publishing using semantic-release [KHCP-17673] (#3000)
  .github/workflows/publish.yaml
  package.json
Due: none

chore(release): 9.46.13 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  40ef87613f9b8ee9afbd066afd6acdc63e918014
Due: none

fix: pr-audit from main
  .github/workflows/pr-audit.yaml
  .github/workflows/renovate-auto-approve.yaml
Due: none

feat: adopt PR audit [KHCP-18541] (#2993)
  .github/workflows/pr-audit.yaml
  .github/workflows/renovate-auto-approve.yaml
  package.json
  pnpm-lock.yaml
Due: none

chore(release): 9.47.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  06c000618063a9a2df12a2dc0c349beadb6e5f81
Due: none

fix: no pr-audit for renovate bot prs
  .github/workflows/pr-audit.yaml
Due: none

fix: no pr-audit for renovate bot prs (#3003)
  .github/workflows/pr-audit.yaml
Due: none

feat(kcodeblock): add theme in CodeBlockEventData
  docs/components/codeblock.md
  sandbox/composables/useShiki.ts
  sandbox/pages/SandboxCodeBlock.vue
  sandbox/utils/shiki.ts
  src/components/KCodeBlock/KCodeBlock.vue
  src/types/code-block.ts
Due: stylelint, eslint

fix: trigger pr-audit on PR labeling
  .github/workflows/pr-audit.yaml
Due: none

fix: volunrablisites
  package.json
  pnpm-lock.yaml
Due: none

fix: trigger pr-audit on PR labeling (#3006)
  .github/workflows/pr-audit.yaml
  package.json
  pnpm-lock.yaml
Due: none

chore(release): 9.47.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  e07c500db1dab7a8816f376524130917e77cc47d
Due: none

chore: package.json git config
  package.json
Due: none

test: add test for event
  src/components/KCodeBlock/KCodeBlock.cy.ts
Due: eslint

fix: remove unused code
  sandbox/pages/SandboxCodeBlock.vue
Due: stylelint, eslint

fix: add comments
  sandbox/utils/shiki.ts
Due: eslint

fix(ktoaster): avoid overflow when message or title is too long (#2990)
  src/components/KToaster/KToaster.cy.ts
  src/components/KToaster/KToaster.vue
Due: stylelint, eslint

chore(release): 9.47.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  c3d16dec1e162977614ed1936eef38e5b889f228
Due: none

fix(kselect, kmultiselect): apply flex layout (#2992)
  src/components/KMultiselect/KMultiselect.vue
  src/components/KSelect/KSelect.vue
Due: stylelint, eslint

chore(release): 9.47.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  b34f798afb7ec343203d052be797eee35a53f5a6
Due: none

fix(kalert): apply link border
  src/components/KAlert/KAlert.vue
Due: stylelint, eslint

fix: link color
  src/components/KAlert/KAlert.vue
Due: stylelint, eslint

fix(kalert): link appearance add border (#3011)
  src/components/KAlert/KAlert.vue
Due: stylelint, eslint

chore(release): 9.47.4 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  3dc3d5ccd668f5d97f6b162228304a4f26a7544f
Due: none

feat(kcodeblock): add theme in CodeBlockEventData (#3005)
  docs/components/codeblock.md
  sandbox/composables/useShiki.ts
  sandbox/pages/SandboxCodeBlock.vue
  sandbox/utils/shiki.ts
  src/components/KCodeBlock/KCodeBlock.cy.ts
  src/components/KCodeBlock/KCodeBlock.vue
  src/types/code-block.ts
Due: stylelint, eslint

chore(release): 9.48.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  efd89402e8abb50b10399fd2ba50e84c926de46d
Due: none

fix(ktoaster): revert prevent creating duplicate containers [KHCP-18535]
  src/components/KToaster/ToastManager.cy.ts
  src/components/KToaster/ToastManager.ts
Due: eslint

fix(ktoaster): revert prevent creating duplicate containers [KHCP-18535] (#3015)
  src/components/KToaster/ToastManager.cy.ts
  src/components/KToaster/ToastManager.ts
Due: eslint

chore(release): 9.48.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  fc288a2f9093036c6b33f3ff7d7e17e3cdf7728f
Due: none
